<div class="wrapper">
  <div class="gambo-Breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="['/']" routerLinkActive="router-link-active">
                  <i class="uil uil-arrow-left"></i>
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                My Dashboard
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-group">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="user-dt">
            <div class="user-img">
              <img src="assets/images/avatar/img-5.jpg" alt="" />
              <div class="img-add">
                <input type="file" id="file" />
                <!-- <label for="file"><i class="uil uil-camera-plus"></i></label> -->
              </div>
            </div>
            <h4>{{ currentUser.name }}</h4>
            <p>
              {{ currentUser.email }}
              <!-- <a href="#"><i class="uil uil-edit"></i></a> -->
            </p>
            <!-- <div class="earn-points">
              <img src="assets/images/Dollar.svg" alt="" />Points :
              <span>20</span>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="left-side-tabs">
            <div class="dashboard-left-links">
            
              <a [routerLink]="['/profile']" class="user-item"
                ><i class="uil uil-user-circle"></i>My Profile</a
              >
              <a [routerLink]="['/change-password']" class="user-item"
                ><i class="uil uil-key"></i>Change Password</a
              >
              <a [routerLink]="['/my-groceries/groceries']" class="user-item"
                ><i class="uil uil-box"></i>My Orders</a
              >
           
              <a (click)="this.auth.signOut()" class="user-item"
                ><i class="uil uil-exit"></i>Logout</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-md-8">
          <div class="dashboard-right">
            <div class="row">
              <div class="col-md-12">
                <div class="main-title-tab">
                  <h4><i class="uil uil-apps"></i>Overview</h4>
                </div>
                <div class="welcome-text">
                  <h2>Hi! {{ currentUser.name }}</h2>
                </div>
              </div>
              <!-- <div class="col-lg-6 col-md-12">
                <div class="pdpt-bg">
                  <div class="pdpt-title">
                    <h4>My Rewards</h4>
                  </div>
                  <div class="ddsh-body">
                    <h2>6 Rewards</h2>
                    <ul>
                      <li>
                        <a href="#" class="small-reward-dt hover-btn">Won $2</a>
                      </li>
                      <li>
                        <a href="#" class="small-reward-dt hover-btn"
                          >Won 40% Off</a
                        >
                      </li>
                      <li>
                        <a href="#" class="small-reward-dt hover-btn"
                          >Caskback $1</a
                        >
                      </li>
                      <li>
                        <a href="#" class="rewards-link5">+More</a>
                      </li>
                    </ul>
                  </div>
                  <a href="#" class="more-link14"
                    >Rewards and Details
                    <i class="uil uil-angle-double-right"></i
                  ></a>
                </div>
              </div> -->
              <div class="col-lg-12 col-md-12">
                <div class="pdpt-bg">
                  <div class="pdpt-title">
                    <h4 style="border: none;">My Orders</h4>
                  </div>
                  <div class="ddsh-body">
                    <h2>{{ totalOrders }} Recently Purchases</h2>
                    <!-- <ul class="order-list-145">
                      <li>
                        <div class="smll-history">
                          <div class="order-title">
                            2 Items
                            <span
                              data-inverted=""
                              data-tooltip="2kg broccoli, 1kg Apple"
                              data-position="top center"
                              >?</span
                            >
                          </div>
                          <div class="order-status">On the way</div>
                          <p>$22</p>
                        </div>
                      </li>
                    </ul> -->
                  </div>
                  <a
                    [routerLink]="['/my-groceries/groceries']"
                    routerLinkActive="router-link-active"
                    class="more-link14"
                    >All Orders <i class="uil uil-angle-double-right"></i
                  ></a>
                </div>
              </div>
              <!-- <div class="col-lg-12 col-md-12">
                <div class="pdpt-bg">
                  <div class="pdpt-title">
                    <h4>My Wallet</h4>
                  </div>
                  <div class="wllt-body">
                    <h2>Credits $100</h2>
                    <ul class="wallet-list">
                      <li>
                        <a href="#" class="wallet-links14"
                          ><i class="uil uil-card-atm"></i>Payment Methods</a
                        >
                      </li>
                      <li>
                        <a href="#" class="wallet-links14"
                          ><i class="uil uil-gift"></i>3 offers Active</a
                        >
                      </li>
                      <li>
                        <a href="#" class="wallet-links14"
                          ><i class="uil uil-coins"></i>Points Earning</a
                        >
                      </li>
                    </ul>
                  </div>
                  <a href="#" class="more-link14"
                    >Rewards and Details
                    <i class="uil uil-angle-double-right"></i
                  ></a>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
