<div class="wrapper auth-bg">
  <div class="block contact__msg" style="display: none;margin: 100px;">
    <div class="card">
      <div class="text-center card-body ">
        <div class="col-lg-12">
          <div class="alert alert-success " role="alert">
            <br />
            <h5>
              Look for the reset password link in your inbox and click the link
              to complete reset password.
            </h5>
            <a class="btn btn-success btn-rounded waves-effect waves-light m-b-40" [routerLink]="['/home']">Back to
              home</a>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sign-inup" id="formDiv">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="sign-form">
            <div class="sign-inner">
              <!-- <div class="sign-logo" id="logo">
                <a [routerLink]="['/']" routerLinkActive="router-link-active"
                  ><img src="assets/images/logos/logo.png" alt="Logo"
                /></a>
              </div> -->
              <div class="form-dt">
                <div class="form-inpts checout-address-step">
                  <form #fpForm="ngForm" (ngSubmit)="submitForm(fpForm)">
                    <div class="form-title">
                      <h6>Request a Password Reset</h6>
                    </div>
                    <div class="form-group pos_rel">
                      <input class="form-control lgn_input" type="email" name="email" id="email"
                        placeholder="Enter Email Address" name="email" #email="ngModel"
                        pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" [(ngModel)]="customerDetailsArr.email" required />
                      <i class="uil uil-envelope lgn_icon"></i>
                      <span class="small text-danger" *ngIf="email.invalid && email.touched">*invalid</span>
                    </div>
                    <!-- <div class="form-group pos_rel">
                      <input
                        id="password[old]"
                        name="passwordold"
                        type="password"
                        placeholder="Enter Old Password"
                        class="form-control lgn_input"
                        required=""
                      />
                      <i class="uil uil-padlock lgn_icon"></i>
                    </div>
                    <div class="form-group pos_rel">
                      <input
                        id="password[new]"
                        name="passwordnew"
                        type="password"
                        placeholder="Enter New Password"
                        class="form-control lgn_input"
                        required=""
                      />
                      <i class="uil uil-padlock lgn_icon"></i>
                    </div> -->
                    <button class="login-btn hover-btn" [disabled]="!fpForm.form.valid" type="submit">
                      Submit
                    </button>
                  </form>
                </div>
                <div class="signup-link">
                  <p>
                    Already have an account?
                    <a [routerLink]="['/signin']" routerLinkActive="router-link-active">Sign In Now</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="copyright-text text-center mt-3">
            <i class="uil uil-copyright"></i>Copyright 2020
            <b>Gambolthemes</b> . All rights reserved
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>