<div class="row fadeMe app-loading" *ngIf="loading">
  <div class="logo-img ">
    <img src="./assets/img/loader.gif" alt="logo" width="250" />
  </div>
  <br />
  <!-- <h5>
     <strong style="color: green !important;">FETCHING INVENTORY</strong>
  </h5> -->
  <p style="color:green;">Fetching Products...</p>
  <div class="la-ball-scale-multiple la-dark la-3x">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<!-- Body Start -->
<div class="wrapper">
  <!-- <div class="sub-header-group">
    <div class="sub-header">
      <app-select-category></app-select-category>
      <app-search></app-search>
    </div>
  </div> -->
  <div class="gambo-Breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav
            aria-label="breadcrumb"
            style="display: flex;
          justify-content: space-between;"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="['/']"
                  ><i class="uil uil-arrow-left"></i>Back</a
                >
              </li>
              <li class="breadcrumb-item" aria-current="page">
                {{ categoryName }}
              </li>
            </ol>
            <div class="search120">
              <div class="ui search">
                <div class="ui left icon input swdh10">
                  <input
                    class="prompt srch10"
                    placeholder="Search for products.."
                    type="search"
                    [(ngModel)]="storageService.searchTerm$"
                    (ngModelChange)="this.storageService.setFilteredItems()"
                  />
                  <i class="uil uil-search-alt icon icon1"></i>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="all-product-grid">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="product-top-dt">
            <div class="product-left-title">
              <h2>{{ categoryName }}</h2>
            </div>
            <!-- <a href="#" class="filter-btn pull-bs-canvas-right">Filters</a>
            <div class="product-sort">
              <div class="ui selection dropdown vchrt-dropdown">
                <input name="gender" type="hidden" value="default" />
                <i class="dropdown icon d-icon"></i>
                <div class="text">Popularity</div>
                <div class="menu">
                  <div class="item" data-value="0">Popularity</div>
                  <div class="item" data-value="1">Price - Low to High</div>
                  <div class="item" data-value="2">Price - High to Low</div>
                  <div class="item" data-value="3">Alphabetical</div>
                  <div class="item" data-value="4">Saving - High to Low</div>
                  <div class="item" data-value="5">Saving - Low to High</div>
                  <div class="item" data-value="6">% Off - High to Low</div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div
        class="row"
        *ngIf="this.storageService.searchSelectedCategoryProducts.length === 0"
      >
        <div class="col-lg-12">
          <div class="noProduct">
            <h2>No Products to Display</h2>
          </div>
        </div>
      </div>

      <div class="product-list-view">
        <div class="row">
          <div
            class="col-lg-3 col-md-6"
            *ngFor="
              let product of this.storageService.searchSelectedCategoryProducts
                | keyvalue
            "
          >
            <div class="item">
              <div class="product-item" style="margin-bottom: 15px;">
                <a class="product-img">
                  <img
                    defaultImage="assets/images/loaders/loader.gif"
                    [lazyLoad]="product.value.images1"
                    class="prod-image"
                    alt=""
                  />
                  <div class="product-absolute-options">
                    <span
                      class="offer-badge-1"
                      *ngIf="product.value.best_choice === true"
                      >Best Choice</span
                    >
                    <span class="offer-badge-1" *ngIf="product.value.grade_a"
                      >Grade A</span
                    >
                    <span
                      class="offer-badge-1"
                      *ngIf="product.value.out_of_stock"
                      >Out of Stock</span
                    >

                    <!-- <span class="like-icon" title="wishlist"></span> -->
                  </div>
                </a>

                <div class="product-text-dt">
                  <p>Available<span>(In Stock)</span></p>
                  <h4>{{ product.value.name }}</h4>
                  <div class="product-price">
                    <span *ngIf="product.value.price !== '0'"
                      >{{
                        this.storeData.store.currency_symbol | currencySymbol
                      }}
                      {{ product.value.price }}</span
                    >
                    {{ this.storeData.store.currency_symbol | currencySymbol }}
                    {{ product.value.discount_price }}
                  </div>
                  <div class="cart-btn-section-in-view-card">
                    <div
                      class="add-to-cart"
                      *ngIf="
                        product.value.discount_price !== '0' &&
                        !checkInCart(product.value) &&
                        product.value.sub_category_id
                      "
                      (click)="addToCartCOF(product.value)"
                    >
                      <i class="uil uil-shopping-cart-alt"></i> Add to Cart
                    </div>

                    <div
                      class="qty-cart"
                      *ngIf="
                        product.value.discount_price !== '0' &&
                        checkInCart(product.value) &&
                        product.value.sub_category_id
                      "
                    >
                      <div class="quantity buttons_added">
                        <input
                          type="button"
                          value="-"
                          class="minus minus-btn"
                          (click)="minusQuantityCOF(product.value, $event)"
                        />
                        <span *ngFor="let item of storageService.cart$">
                          <span
                            *ngIf="item.id === product.value.id"
                            style="margin: 10px;"
                          >
                            {{ item.quantity }}
                          </span>
                        </span>
                        <input
                          type="button"
                          value="+"
                          class="plus plus-btn"
                          (click)="addToCartCOF(product.value)"
                        />
                      </div>
                    </div>
                    <!-- <span class="cart-icon"
                ><i class="uil uil-shopping-cart-alt"></i
              ></span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-12">
            <div class="more-product-btn">
              <button class="show-more-btn hover-btn" onclick="window.location.href = '#';">Show More</button>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Body End -->
