.feature-content h4 {
    font-size: medium;
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  .items {
    width: auto;
    white-space: nowrap;
    display: flex;
  }
  .singleCardBG.product-item{
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    width: 100%;
    margin: 0 !important;
  }
  .feature-item.style-2{
    margin: 10px 0px;
    padding: 10px !important;
  }
  .feature-item.style-2 {
    padding: 20px;
    display: block;
    text-align: center;
  width: 100%;

  }
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .feature-item:hover {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }