<section id="wrapper" class="login-register login-sidebar">
  <div class="login-box card">
    <div class="card-body">
      <form
        [formGroup]="signupForm"
        (ngSubmit)="signup()"
        class="form-horizontal form-material"
        id="loginform"
      >
        <a href="javascript:void(0)" class="text-center db logo-container"> </a>
        <h3 class="box-title m-t-40 m-b-0">Register Now</h3>
        <small>Create your account and enjoy</small>
        <div class="form-group m-t-20">
          <div class="col-xs-12">
            <app-form-error-wrapper
              [control]="signupForm.controls['firstName']"
              [controlName]="'First Name'"
              [apiErrorType]="'firstName'"
            >
              <input
                class="form-control"
                type="text"
                formControlName="firstName"
                placeholder="First Name"
              />
            </app-form-error-wrapper>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <app-form-error-wrapper
              [control]="signupForm.controls['lastName']"
              [controlName]="'Last Name'"
              [apiErrorType]="'lastName'"
            >
              <input
                class="form-control"
                type="text"
                formControlName="lastName"
                placeholder="Last Name"
              />
            </app-form-error-wrapper>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <app-form-error-wrapper
              [control]="signupForm.controls['email']"
              [controlName]="'Email'"
              [apiErrorType]="'email'"
            >
              <input
                class="form-control"
                type="text"
                formControlName="email"
                placeholder="Email"
              />
            </app-form-error-wrapper>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <app-form-error-wrapper
              [control]="signupForm.controls['phone']"
              [controlName]="'Phone'"
              [apiErrorType]="'phone'"
            >
              <input
                class="form-control"
                type="text"
                formControlName="phone"
                placeholder="Phone"
              />
            </app-form-error-wrapper>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <app-form-error-wrapper
              [control]="signupForm.controls['password']"
              [controlName]="'Password'"
              [apiErrorType]="'password'"
            >
              <input
                class="form-control"
                type="password"
                formControlName="password"
                placeholder="Password"
              />
            </app-form-error-wrapper>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <app-form-error-wrapper
              [control]="signupForm.controls['cPassword']"
              [controlName]="'Confirm Password'"
              [apiErrorType]="'cPassword'"
            >
              <input
                class="form-control"
                type="password"
                formControlName="cPassword"
                placeholder="Confirm Password"
              />
            </app-form-error-wrapper>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <div class="custom-control custom-checkbox p-t-0">
              <input
                id="checkbox-signup"
                class="custom-control-input"
                type="checkbox"
              />
              <!-- <label for="checkbox-signup" class="custom-control-label">
                I agree to all
                <a>Terms</a>
              </label> -->
              <div class="col-lg-12 col-12 p-0">
                <small class="d-flex align-items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="green"
                    class="bi bi-check2-square"
                    viewBox="0 0 16 16"
                    class="mr-2"
                  >
                    <path
                      d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"
                    />
                    <path
                      d="M8.354 10.354l7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"
                    />
                  </svg>
                  I Agree to the
                  <a
                    href="https://docs.google.com/document/d/1cW8FmAT-dHJB33Nc8KKVc00YfXyfHaLmZdTf-ydsDSc/edit#heading=h.pz3lisb8tb5d"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Terms and Conditions</a
                  >
                  &nbsp; and &nbsp;
                  <a
                    href="https://docs.google.com/document/d/1h-w7HBzrv5bWpF8xefKS2WGKMuvuwsLnMFb6_Vj1uIg/edit"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    Privacy Policy</a
                  >.
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button
              class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light"
              [disabled]="signupForm.invalid || isLoading"
            >
              <app-button-loader
                [isLoading]="isLoading"
                [label]="'Sign Up'"
              ></app-button-loader>
            </button>
          </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            <p>
              Already have an account?
              <a class="text-info m-l-5" [routerLink]="['/login']">
                <b>Sign In</b>
              </a>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
