<div>
  <div class="search120">
    <div class="ui search">
      <div class="ui left icon input swdh10">
        <input
          class="prompt srch10"
          placeholder="Search for products.."
          type="search"
          [(ngModel)]="storageService.searchTerm$"
          (ngModelChange)="this.storageService.setFilteredItems()"
        />
        <i class="uil uil-search-alt icon icon1"></i>
      </div>
    </div>
  </div>
</div>
