<ul>
  <!-- <li>
        <a
          (click)="this.storageService.getCartItemsCOF()"
          class="cart__btn hover-btn pull-bs-canvas-left"
          title="Cart"
          ><i class="uil uil-shopping-cart-alt"></i><span>Cart</span
          ><ins>{{ this.storageService.cart$.length }}</ins
          ><i class="uil uil-angle-down"></i
        ></a>
      </li> -->
  <li *ngIf="this.auth.user$ === null || !this.auth.user$">
    <a
      [routerLink]="['/signin']"
      style="font-weight: 500;
          color: #2b2f4c;
          float: right;
          padding: 10px;
          background: #f9f9f9 !important;
          border-radius: 5px;"
      class="opts_account"
    >
      <i class="uil uil-user-circle"></i>
      <span style="margin: 0 !important;">Sign In</span>
    </a>
  </li>
  <li
    class="ui dropdown"
    style="align-items: center;display: flex; justify-content: space-between;"
    *ngIf="this.auth.user$ !== null && this.auth.user$"
  >
    <a class="opts_account">
      <img src="assets/images/avatar/img-5.jpg" alt="" />
      <span>{{ this.auth.user$.name }}</span>
      <i class="uil uil-angle-down"></i>
    </a>
    <div class="menu dropdown_account">
      <!-- <div class="night_mode_switch__btn">
            <a href="#" id="night-mode" class="btn-night-mode">
              <i class="uil uil-moon"></i> Night mode
              <span class="btn-night-mode-switch">
                <span class="uk-switch-button"></span>
              </span>
            </a>
          </div> -->
      <a [routerLink]="['/']" class="item channel_item"
        ><i class="uil uil-home icon__1"></i>Home</a
      >
      <a [routerLink]="['/profile']" class="item channel_item"
        ><i class="uil uil-apps icon__1"></i>Dashbaord</a
      >
      <a
        [routerLink]="['/my-groceries' + '/groceries']"
        class="item channel_item"
        ><i class="uil uil-box icon__1"></i>My Orders</a
      >
      <!-- <a class="item channel_item"
            ><i class="uil uil-heart icon__1"></i>My Wishlist</a
          >
          <a class="item channel_item"
            ><i class="uil uil-usd-circle icon__1"></i>My Wallet</a
          >
          <a class="item channel_item"
            ><i class="uil uil-location-point icon__1"></i>My Address</a
          >
          <a class="item channel_item"
            ><i class="uil uil-gift icon__1"></i>Offers</a
          >
          <a class="item channel_item"
            ><i class="uil uil-info-circle icon__1"></i>Faq</a
          > -->
      <a (click)="this.auth.signOut()" class="item channel_item"
        ><i class="uil uil-lock-alt icon__1"></i>Logout</a
      >
    </div>
  </li>
</ul>
