<div class="wrapper auth-bg">
  <div class="block contact__msg" style="display: none; margin: 100px;">
    <div class="text-center card-body">
      <div class="col-lg-12">
        <div class="alert alert-success " role="alert">
          <br />
          <h5>
            Your
            <strong class="text-success">account</strong> created. Look for the
            verification email in your inbox and click the link in that email to
            get started. Thank you for joining with us!
          </h5>
          <a
            class="btn btn-success btn-rounded waves-effect waves-light m-b-40"
            [routerLink]="['/']"
            >Back to home</a
          >
          <br />
        </div>
      </div>
    </div>
  </div>
  <div class="sign-inup" id="formDiv">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="sign-form">
            <div class="sign-inner">
              <!-- <div class="sign-logo" id="logo">
                <a [routerLink]="['/']"
                  ><img src="assets/images/logos/logo.png" alt="Logo"
                /></a>
              </div> -->
              <div class="form-dt">
                <div class="form-inpts checout-address-step">
                  <form
                    #signupForm="ngForm"
                    (ngSubmit)="submitForm(signupForm)"
                  >
                    <div class="form-title"><h6>Sign Up</h6></div>
                    <div class="form-group pos_rel">
                      <input
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Enter Full Name"
                        name="name"
                        #name="ngModel"
                        [(ngModel)]="customerDetailsArr.name"
                        required
                        class="form-control lgn_input"
                      />
                      <i class="uil uil-user-circle lgn_icon"></i>
                      <span
                        class="small text-danger"
                        *ngIf="name.invalid && name.touched"
                        >*invalid</span
                      >
                    </div>

                    <div class="form-group pos_rel">
                      <input
                        class="form-control lgn_input"
                        type="tel"
                        name="mobile"
                        id="mobile"
                        (keypress)="numberOnly($event)"
                        placeholder="Enter Mobile Number"
                        name="mobile"
                        #mobile="ngModel"
                        [(ngModel)]="customerDetailsArr.mobile"
                        required
                      />
                      <i class="uil uil-mobile-android-alt lgn_icon"></i>
                      <span
                        class="small text-danger"
                        *ngIf="mobile.invalid && mobile.touched"
                        >*invalid</span
                      >
                    </div>

                    <div class="form-group pos_rel">
                      <input
                        class="form-control lgn_input"
                        type="tel"
                        name="secondary_mobile"
                        id="secondary_mobile"
                        (keypress)="numberOnly($event)"
                        placeholder="Enter Secondary Mobile Number (Optional)"
                        name="secondary_mobile"
                        #secondary_mobile="ngModel"
                        [(ngModel)]="customerDetailsArr.secondary_mobile"
                      />
                      <i class="uil uil-mobile-android-alt lgn_icon"></i>
                    </div>
                    <div class="form-group pos_rel">
                      <input
                        class="form-control lgn_input"
                        placeholder="Address"
                        name="address1"
                        #address1="ngModel"
                        [(ngModel)]="customerDetailsArr.address1"
                        required
                      />
                      <i class="uil uil-location lgn_icon"></i>
                      <span
                        class="small text-danger"
                        *ngIf="address1.invalid && address1.touched"
                        >*invalid</span
                      >
                    </div>

                    <div class="form-group pos_rel">
                      <input
                        class="form-control lgn_input"
                        type="email"
                        id="email"
                        placeholder="Enter Email Address"
                        name="email"
                        #email="ngModel"
                        pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"
                        [(ngModel)]="customerDetailsArr.email"
                        required
                      />
                      <i class="uil uil-envelope lgn_icon"></i>
                      <span
                        class="small text-danger"
                        *ngIf="email.invalid && email.touched"
                        >*invalid</span
                      >
                    </div>

                    <!-- <div class="form-group pos_rel">
                      <label class="control-label">Enter Code</label>
                      <ul class="code-alrt-inputs signup-code-list">
                        <li>
                          <input
                            id="code[1]"
                            name="number"
                            type="text"
                            placeholder=""
                            class="form-control input-md"
                            required=""
                          />
                        </li>
                        <li>
                          <input
                            id="code[2]"
                            name="number"
                            type="text"
                            placeholder=""
                            class="form-control input-md"
                            required=""
                          />
                        </li>
                        <li>
                          <input
                            id="code[3]"
                            name="number"
                            type="text"
                            placeholder=""
                            class="form-control input-md"
                            required=""
                          />
                        </li>
                        <li>
                          <input
                            id="code[4]"
                            name="number"
                            type="text"
                            placeholder=""
                            class="form-control input-md"
                            required=""
                          />
                        </li>
                        <li>
                          <a class="chck-btn hover-btn code-btn145" href="#"
                            >Send</a
                          >
                        </li>
                      </ul>
                      <a href="#" class="resend-link">Resend Code</a>
                    </div> -->
                    <div class="form-group pos_rel">
                      <input
                        class="form-control lgn_input"
                        type="password"
                        name="password"
                        id="password"
                        placeholder="New Password"
                        name="password"
                        #password="ngModel"
                        [(ngModel)]="customerDetailsArr.password"
                        required
                      />
                      <i class="uil uil-padlock lgn_icon"></i>
                      <span
                        class="small text-danger"
                        *ngIf="password.invalid && password.touched"
                        >*invalid</span
                      >
                    </div>
                    <button
                      class="login-btn hover-btn"
                      [disabled]="!signupForm.form.valid"
                      type="submit"
                    >
                      Sign Up Now
                    </button>
                  </form>
                </div>
                <div class="signup-link">
                  <p>
                    Already have an account?
                    <a routerLinkActive="active" [routerLink]="['/signin']"
                      >Sign In Now</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="copyright-text text-center mt-3">
            <i class="uil uil-copyright"></i>Copyright 2020
            <b>Gambolthemes</b> . All rights reserved
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
