<div class="ui dropdown">
  <a
    href="#"
    class="category_drop hover-btn"
    data-toggle="modal"
    data-target="#category_model"
    title="Categories"
    ><i class="uil uil-apps"></i
    ><span class="cate__icon">Select Category</span></a
  >
</div>
