.nav-item > .active {
  color: #f08100 !important;
}
.custom-search {
  width: 100%;
}
.custom-search button {
  border: none;
  padding: 0px 10px;
  background: #f7f7f7 !important;
}
.custom-search input {
  border-radius: 0px !important;
}
.custom-search-part {
  margin-left: 40px;
}

@media only screen and(max-width: 400px) {
  .custom-search-part {
    display: none;
  }
}
