<!-- Category Model Start-->
<div
  id="category_model"
  class="header-cate-model main-gambo-model modal fade"
  tabindex="-1"
  role="dialog"
  aria-modal="false"
>
  <div class="modal-dialog category-area" role="document">
    <div class="category-area-inner">
      <div class="modal-header">
        <button
          type="button"
          class="close btn-close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <i class="uil uil-multiply"></i>
        </button>
      </div>
      <div class="category-model-content modal-content">
        <div class="cate-header">
          <h4>Select Category</h4>
        </div>
        <ul class="category-by-cat">
          <li
            (click)="gotoSpeficCategory(category.key)"
            *ngFor="
              let category of storeData.sub_categories | keyvalue;
              let i = index
            "
            class="close btn-close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <a class="single-cat-item">
              <div class="icon">
                <img
                  width="55px"
                  height="55px"
                  alt="category"
                  [src]="category.value.image"
                  alt=""
                  alt=""
                />
              </div>
              <div class="text">{{ category.value.name }}</div>
            </a>
          </li>
        </ul>
        <!-- <a href="#" class="morecate-btn"
          ><i class="uil uil-apps"></i>More Categories</a
        > -->
      </div>
    </div>
  </div>
</div>
<!-- Category Model End-->
<!-- Search Model Start-->
<div
  id="search_model"
  class="header-cate-model main-gambo-model modal fade"
  tabindex="-1"
  role="dialog"
  aria-modal="false"
>
  <div class="modal-dialog search-ground-area" role="document">
    <div class="category-area-inner">
      <div class="modal-header">
        <button
          type="button"
          class="close btn-close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <i class="uil uil-multiply"></i>
        </button>
      </div>
      <div class="category-model-content modal-content">
        <div class="search-header">
          <form action="#">
            <input type="search" placeholder="Search for products..." />
            <button type="submit"><i class="uil uil-search"></i></button>
          </form>
        </div>
        <div class="search-by-cat">
          <a href="#" class="single-cat">
            <div class="icon">
              <img src="assets/images/category/icon-1.svg" alt="" />
            </div>
            <div class="text">
              Fruits and Vegetables
            </div>
          </a>
          <a href="#" class="single-cat">
            <div class="icon">
              <img src="assets/images/category/icon-2.svg" alt="" />
            </div>
            <div class="text">Grocery & Staples</div>
          </a>
          <a href="#" class="single-cat">
            <div class="icon">
              <img src="assets/images/category/icon-3.svg" alt="" />
            </div>
            <div class="text">Dairy & Eggs</div>
          </a>
          <a href="#" class="single-cat">
            <div class="icon">
              <img src="assets/images/category/icon-4.svg" alt="" />
            </div>
            <div class="text">Beverages</div>
          </a>
          <a href="#" class="single-cat">
            <div class="icon">
              <img src="assets/images/category/icon-5.svg" alt="" />
            </div>
            <div class="text">Snacks</div>
          </a>
          <a href="#" class="single-cat">
            <div class="icon">
              <img src="assets/images/category/icon-6.svg" alt="" />
            </div>
            <div class="text">Home Care</div>
          </a>
          <a href="#" class="single-cat">
            <div class="icon">
              <img src="assets/images/category/icon-7.svg" alt="" />
            </div>
            <div class="text">Noodles & Sauces</div>
          </a>
          <a href="#" class="single-cat">
            <div class="icon">
              <img src="assets/images/category/icon-8.svg" alt="" />
            </div>
            <div class="text">Personal Care</div>
          </a>
          <a href="#" class="single-cat">
            <div class="icon">
              <img src="assets/images/category/icon-9.svg" alt="" />
            </div>
            <div class="text">Pet Care</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="bs-canvas bs-canvas-left position-fixed bg-cart h-100"
  *ngIf="storageService.noProducts$"
>
  <div class="bs-canvas-header side-cart-header p-3 ">
    <div class="d-inline-block  main-cart-title">
      My Cart <span>{{ this.storageService.cart$.length + ' items' }}</span>
    </div>
    <button type="button" class="bs-canvas-close close" aria-label="Close">
      <i class="uil uil-multiply"></i>
    </button>
  </div>
  <div
    class="bs-canvas-body"
    style="padding: 10px;
  text-align: center;
  margin-top: 50%;"
  >
    <h2>Your cart is empty</h2>
  </div>
</div>
<!-- Search Model End-->
<!-- Cart Sidebar Offset Start-->
<div
  class="bs-canvas bs-canvas-left position-fixed bg-cart h-100"
  *ngIf="storageService.cart$ && storageService.cart$.length && storeData.store"
>
  <div class="bs-canvas-header side-cart-header p-3 ">
    <div class="d-inline-block  main-cart-title">
      My Cart <span>{{ this.storageService.cart$.length + ' items' }}</span>
    </div>
    <button type="button" class="bs-canvas-close close" aria-label="Close">
      <i class="uil uil-multiply"></i>
    </button>
  </div>
  <div class="bs-canvas-body">
    <div class="cart-top-total">
      <!-- <div class="cart-total-dil">
        <h4>Sub total</h4>
        <span> {{ total.toFixed(2) }}</span>
      </div> -->
      <div class="cart-total-dil pt-2" *ngIf="appliedCouponDetails">
        <h4>Discount</h4>
        <span>
          -
          {{
            ((total * appliedCouponDetails.discount_percentage) / 100).toFixed(
              2
            )
          }}</span
        >
      </div>
      <div
        class="cart-total-dil pt-2"
        *ngIf="
          storeData.store.delivery_charges &&
          (storeData.store.order_mode === 'delivery' ||
            storeData.store.order_mode === 'all')
        "
      >
        <h4>Delivery Charges</h4>

        <span *ngIf="!chosedDeliveryOption">
          {{
            (this.storeData.store.delivery_charges
              ? +this.storeData.store.delivery_charges
              : 0
            ).toFixed(2)
          }}</span
        >
        <span *ngIf="chosedDeliveryOption">
          {{ this.chosedDeliveryOption.price }}</span
        >
      </div>
    </div>
    <div class="side-cart-items">
      <div
        class="cart-item"
        *ngFor="let item of this.storageService.cart$; let i = index"
      >
        <div class="cart-product-img">
          <img [src]="item.images1" alt="Product Image" />
          <!-- <span
                      class="offer-badge"
                      *ngIf="item.value.best_choice === true"
                      >Best Choice</span
                    >
                    <span class="offer-badge" *ngIf="item.value.grade_a"
                      >Grade A</span
                    >
                    <span
                      class="offer-badge"
                      *ngIf="item.value.out_of_stock"
                      >Out of Stock</span
                    > -->
        </div>
        <div class="cart-text">
          <h4>{{ item.name }}</h4>
          <!-- <div class="cart-radio">
        <ul class="kggrm-now">
          <li>
            <input type="radio" id="a1" name="cart1">
            <label for="a1">0.50</label>
          </li>
          <li>
            <input type="radio" id="a2" name="cart1">
            <label for="a2">1kg</label>
          </li>
          <li>
            <input type="radio" id="a3" name="cart1">
            <label for="a3">2kg</label>
          </li>
          <li>
            <input type="radio" id="a4" name="cart1">
            <label for="a4">3kg</label>
          </li>
        </ul>
      </div> -->
          <div class="qty-group">
            <div class="quantity buttons_added">
              <button
                type="button"
                value="-"
                class="minus minus-btn"
                (click)="minusQuantityCOF(item, $event)"
              >
                -
              </button>
              <span style="margin: 10px;">{{ item.quantity }}</span>
              <button
                type="button"
                value="+"
                class="plus plus-btn"
                (click)="addToCartCOF(item)"
              >
                +
              </button>
            </div>
            <div class="cart-item-price">
              <span *ngIf="item.price !== '0'"> {{ item.price }}</span>
              {{ item.discount_price }}
            </div>
          </div>

          <button type="button" class="cart-close-btn">
            <i class="uil uil-multiply" (click)="removeProductCOF(item, i)"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="bs-canvas-footer">
    <!-- <div class="cart-total-dil saving-total ">
      <h4>Total Saving</h4>
      <span>$11</span>
    </div> -->
    <div
      class="main-total-cart"
      *ngIf="
        storeData.store.order_mode !== 'delivery' &&
        storeData.store.order_mode !== 'all'
      "
    >
      <h2>Total</h2>
      <span>{{
        (
          this.storageService.cartTotal$ -
          (this.storageService.cartTotal$ *
            appliedCouponDetails.discount_percentage) /
            100 +
          this.storeData.store.delivery_charges
        ).toFixed(2)
      }}</span>
    </div>
    <div
      class="main-total-cart"
      *ngIf="
        storeData.store.order_mode === 'delivery' ||
        storeData.store.order_mode === 'all'
      "
    >
      <h2>Total</h2>
      <span>{{
        (
          this.storageService.cartTotal$ +
          (this.storeData.store.delivery_charges
            ? this.storeData.store.delivery_charges
            : 0) -
          (appliedCouponDetails
            ? (this.storageService.cartTotal$ *
                appliedCouponDetails.discount_percentage) /
              100
            : 0)
        ).toFixed(2)
      }}</span>
    </div>
    <div class="main-total-cart" style="display: none;">
      <h2>Total</h2>
      <span>
        {{
          (
            this.storageService.cartTotal$ -
            (appliedCouponDetails
              ? (this.storageService.cartTotal$ *
                  appliedCouponDetails.discount_percentage) /
                100
              : 0)
          ).toFixed(2)
        }}</span
      >
    </div>
    <div class="checkout-cart">
      <!-- <a href="#" class="promo-code">Have a promocode?</a> -->
      <a (click)="gotoCheckout()" class="cart-checkout-btn hover-btn"
        >Proceed to Checkout</a
      >
    </div>
  </div>
</div>
<!-- Cart Sidebar Offsetl End-->

<!-- Header Start -->
<header class="header clearfix">
  <div class="top-header-group">
    <div class="top-header">
      <div class="res_main_logo">
        <a href="/"><img src="./assets/images/logos/logo.png" alt=""/></a>
      </div>
      <div class="main_logo" id="logo">
        <a href="/" class="d-block"
          ><img src="./assets/images/logos/MainLogo.png" alt=""
        /></a>
      </div>
      <div class="custom-search-part" *ngIf="storageService.searchBar$">
        <form (ngSubmit)="onSubmit()" #searchForm="ngForm">
          <div class="custom-search">
            <div class="ui search">
              <div class="ui left icon input swdh10">
                <input
                  class="prompt srch10"
                  [(ngModel)]="searchInput"
                  name="searchInput"
                  type="text"
                  placeholder="Search for products.."
                />
                <button type="submit" [disabled]="!searchForm.form.valid">
                  <i class="uil uil-search-alt icon icon1"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- <div class="header-nav-items">
        <ul>
          <li class="header-meals-btn">
            <a href="#meals" style="color: #2b2f4c;">
              Meals
            </a>
          </li>
        </ul>
      </div> -->
      <div class="header_right d-flex align-items-center">
        <app-cart></app-cart>
        <app-user-profile></app-user-profile>
        <!-- <div>
          <ul>
            <li>
              <a
                (click)="this.storageService.getCartItemsCOF()"
                class="cart__btn hover-btn pull-bs-canvas-left d-flex"
                title="Cart"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-bag"
                  viewBox="0 0 16 16"
                  style="margin-right: 5px;"
                >
                  <path
                    d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"
                  />
                </svg>
                <span>Cart</span
                ><span>{{ this.storageService.cart$.length }}</span
                ><i class="uil uil-angle-down"></i
              ></a>
            </li>
          </ul>
        </div>
        <ul> -->
        <!-- <li>
            <a
              (click)="this.storageService.getCartItemsCOF()"
              class="cart__btn hover-btn pull-bs-canvas-left"
              title="Cart"
              ><i class="uil uil-shopping-cart-alt"></i><span>Cart</span
              ><ins>{{ this.storageService.cart$.length }}</ins
              ><i class="uil uil-angle-down"></i
            ></a>
          </li> -->
        <!-- <li *ngIf="this.auth.user$ === null || !this.auth.user$">
            <a
              [routerLink]="['/signin']"
              style="font-weight: 500;
              color: #2b2f4c;
              float: right;
              padding: 10px;
              background: #f9f9f9 !important;
              border-radius: 5px;"
              class="opts_account"
            >
              <i class="uil uil-user-circle"></i>
              <span style="margin: 0 !important;">Sign In</span>
            </a>
          </li>
          <li
            class="ui dropdown"
            style="align-items: center;display: flex; justify-content: space-between;"
            *ngIf="this.auth.user$ !== null && this.auth.user$"
          >
            <a class="opts_account">
              <img src="assets/images/avatar/img-5.jpg" alt="" />
              <span>{{ this.auth.user$.name }}</span>
              <i class="uil uil-angle-down"></i>
            </a>
            <div class="menu dropdown_account"> -->
        <!-- <div class="night_mode_switch__btn">
                <a href="#" id="night-mode" class="btn-night-mode">
                  <i class="uil uil-moon"></i> Night mode
                  <span class="btn-night-mode-switch">
                    <span class="uk-switch-button"></span>
                  </span>
                </a>
              </div> -->
        <!-- <a [routerLink]="['/']" class="item channel_item"
                ><i class="uil uil-home icon__1"></i>Home</a
              >
              <a [routerLink]="['/profile']" class="item channel_item"
                ><i class="uil uil-apps icon__1"></i>Dashbaord</a
              >
              <a
                [routerLink]="['/my-groceries' + '/groceries']"
                class="item channel_item"
                ><i class="uil uil-box icon__1"></i>My Orders</a
              > -->
        <!-- <a class="item channel_item"
                ><i class="uil uil-heart icon__1"></i>My Wishlist</a
              >
              <a class="item channel_item"
                ><i class="uil uil-usd-circle icon__1"></i>My Wallet</a
              >
              <a class="item channel_item"
                ><i class="uil uil-location-point icon__1"></i>My Address</a
              >
              <a class="item channel_item"
                ><i class="uil uil-gift icon__1"></i>Offers</a
              >
              <a class="item channel_item"
                ><i class="uil uil-info-circle icon__1"></i>Faq</a
              > -->
        <!-- <a (click)="this.auth.signOut()" class="item channel_item"
                ><i class="uil uil-lock-alt icon__1"></i>Logout</a
              >
            </div>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
</header>
