<div class="wrapper auth-bg">
  <div class="block contact__msg" style="display: none; margin: 100px;">
    <div class="text-center card-body">
      <div class="col-lg-12">
        <div class="alert alert-success " role="alert">
          <br />
          <h5>
            You are yet to complete email verification. Look for the
            verification email in your inbox and click the link in that email to
            get started.
          </h5>
          <a
            class="btn btn-success btn-rounded waves-effect waves-light m-b-40"
            [routerLink]="['/']"
            >Back to home</a
          >
          <br />
        </div>
      </div>
    </div>
  </div>
  <div class="sign-inup" id="formDiv">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="sign-form">
            <div class="sign-inner">
              <!-- <div class="sign-logo" id="logo">
                <a href="index.html"><img src="images/logo.svg" alt=""/></a>
                <a [routerLink]="['/']"
                  ><img src="assets/images/logos/logo.png" alt="Logo"
                /></a>
              </div> -->
              <div class="form-dt">
                <div class="form-inpts checout-address-step">
                  <form
                    #signinForm="ngForm"
                    (ngSubmit)="submitForm(signinForm)"
                  >
                    <div class="form-title"><h6>Sign In</h6></div>
                    <div class="form-group pos_rel">
                      <input
                        type="email"
                        name="email"
                        id="email"
                        class="form-control lgn_input"
                        placeholder="Enter Email Address"
                        name="email"
                        #email="ngModel"
                        pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"
                        [(ngModel)]="customerDetailsArr.email"
                        required
                      />
                      <i class="uil uil-envelope lgn_icon"></i>
                      <span
                        class="small text-danger"
                        *ngIf="email.invalid && email.touched"
                        >*invalid</span
                      >
                    </div>
                    <div class="form-group pos_rel">
                      <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Enter Password"
                        class="form-control lgn_input"
                        name="password"
                        #password="ngModel"
                        [(ngModel)]="customerDetailsArr.password"
                        required
                      />
                      <i class="uil uil-padlock lgn_icon"></i>
                      <span
                        class="small text-danger"
                        *ngIf="password.invalid && password.touched"
                        >*invalid</span
                      >
                    </div>
                    <button
                      class="login-btn hover-btn"
                      [disabled]="!signinForm.form.valid"
                      type="submit"
                    >
                      Sign In Now
                    </button>
                  </form>
                </div>
                <div class="password-forgor">
                  <a
                    routerLinkActive="active"
                    [routerLink]="['/forgot-password']"
                    >Forgot Password?</a
                  >
                </div>
                <div class="signup-link">
                  <p>
                    Don't have an account?
                    <a routerLinkActive="active" [routerLink]="['/signup']"
                      >Sign Up Now</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="copyright-text text-center mt-3">
            <i class="uil uil-copyright"></i>Copyright 2020
            <b>Gambolthemes</b> . All rights reserved
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
