<div class="wrapper">
  <div class="gambo-Breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="['/']" routerLinkActive="router-link-active">
                  <i class="uil uil-arrow-left"></i>
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                My Profile
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-group">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="user-dt">
            <div class="user-img">
              <img src="assets/images/avatar/img-5.jpg" alt="" />
              <div class="img-add">
                <input type="file" id="file" />
                <!-- <label for="file"><i class="uil uil-camera-plus"></i></label> -->
              </div>
            </div>
            <h4>{{ customerDetailsArr.name }}</h4>
            <p>
              {{ customerDetailsArr.email }}
              <!-- <a href="#"><i class="uil uil-edit"></i></a> -->
            </p>
            <!-- <div class="earn-points">
              <img src="assets/images/Dollar.svg" alt="" />Points :
              <span>20</span>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="left-side-tabs">
            <div class="dashboard-left-links">
              <!-- <a [routerLink]="['/user-navigation']" class="user-item"
                ><i class="uil uil-apps"></i>Overview</a
              > -->
              <a [routerLink]="['/profile']" class="user-item active"><i class="uil uil-user-circle"></i>My Profile</a>
              <a [routerLink]="['/change-password']" class="user-item"><i
                  class="uil uil uil-key-skeleton-alt"></i>Change Password</a>

              <a [routerLink]="['/my-groceries/groceries']" class="user-item"><i class="uil uil-box"></i>My Orders</a>
              <!-- <a href="dashboard_my_rewards.html" class="user-item"
                ><i class="uil uil-gift"></i>My Rewards</a
              >
              <a href="dashboard_my_wallet.html" class="user-item"
                ><i class="uil uil-wallet"></i>My Wallet</a
              >
              <a href="dashboard_my_wishlist.html" class="user-item"
                ><i class="uil uil-heart"></i>Shopping Wishlist</a
              >
              <a href="dashboard_my_addresses.html" class="user-item"
                ><i class="uil uil-location-point"></i>My Address</a
              > -->
              <a (click)="this.auth.signOut()" class="user-item"><i class="uil uil-exit"></i>Logout</a>
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-md-8">
          <div class="dashboard-right">
            <div class="row">
              <div class="col-md-12">
                <div class="main-title-tab">
                  <h4><i class="uil uil-user-circle"></i>My Profile</h4>
                </div>
                <!-- <div class="welcome-text">
                  <h2>Hi! {{ customerDetailsArr.name }}</h2>
                </div> -->
              </div>
              <!-- <div class="col-lg-6 col-md-12">
                <div class="pdpt-bg">
                  <div class="pdpt-title">
                    <h4>My Rewards</h4>
                  </div>
                  <div class="ddsh-body">
                    <h2>6 Rewards</h2>
                    <ul>
                      <li>
                        <a href="#" class="small-reward-dt hover-btn">Won $2</a>
                      </li>
                      <li>
                        <a href="#" class="small-reward-dt hover-btn"
                          >Won 40% Off</a
                        >
                      </li>
                      <li>
                        <a href="#" class="small-reward-dt hover-btn"
                          >Caskback $1</a
                        >
                      </li>
                      <li>
                        <a href="#" class="rewards-link5">+More</a>
                      </li>
                    </ul>
                  </div>
                  <a href="#" class="more-link14"
                    >Rewards and Details
                    <i class="uil uil-angle-double-right"></i
                  ></a>
                </div>
              </div> -->
              <div class="col-lg-12 col-md-12">
                <div class="pdpt-bg">
                  <!-- <div class="pdpt-title">
                    <h4 style="border: none;">My Profile</h4>
                  </div> -->
                  <div class="ddsh-body">
                    <form class="ion-padding" #profileUpdateForm="ngForm" (ngSubmit)="submitForm(profileUpdateForm)"
                      id="formDiv">
                      <input name="id" #id="ngModel" [(ngModel)]="customerDetailsArr.id" type="hidden"
                        value="{{ customerDetailsArr.id }}" />
                      <div class="card-body">
                        <div class="row justify-content-center">
                          <div class="col-lg-12">
                            <div class="row form-row">
                              <div class="col-lg-12">
                                <div class="form-group">
                                  <span class="">Full Name
                                    <span class="text-danger small">(*required)</span></span>
                                  <input type="text" name="name" id="name" class="form-control"
                                    placeholder="Enter Full Name" name="name" #name="ngModel"
                                    [(ngModel)]="customerDetailsArr.name" required />
                                  <span class="small text-danger" *ngIf="name.invalid && name.touched">*invalid</span>
                                </div>
                              </div>
                              <div class="col-lg-12">
                                <div class="form-group">
                                  <span class="">Primary Mobile Number
                                    <span class="text-danger small">(*required)</span>
                                    &nbsp; &nbsp; &nbsp;
                                    <!-- <span class="text-primary small" *ngIf="
                                        customerDetailsArr.mobile_verification &&
                                        customerDetailsArr.mobile_verification ===
                                          'true'
                                      ">
                                      <i class="fa fa-check"></i> VERIFIED</span>
                                    <span class="text-warning small" *ngIf="
                                        !customerDetailsArr.mobile_verification ||
                                        customerDetailsArr.mobile_verification ===
                                          'false'
                                      ">
                                      <i class="fa fa-times"></i> NOT
                                      VERIFIED</span> -->
                                    
                                    
                                    </span>
                                  <input type="tel" name="mobile" id="mobile" class="form-control" [readonly]="
                                      customerDetailsArr.mobile_verification &&
                                      customerDetailsArr.mobile_verification ===
                                        'true'
                                    " (keypress)="numberOnly($event)" placeholder="876-523-0123" name="mobile"
                                    #mobile="ngModel" [(ngModel)]="customerDetailsArr.mobile" required />

                                  <span class="small text-danger"
                                    *ngIf="mobile.invalid && mobile.touched">*invalid</span>
                                </div>

                                <!-- <div class="col-lg-12 text-right">
                                  <div class="mt-4 text-right">
                                    <div
                                      [hidden]="
                                        user ||
                                        customerDetailsArr.mobile_verification ===
                                          'true'
                                      "
                                    >
                                      <div id="recaptcha-container"></div>

                                      <div *ngIf="windowRef.confirmationResult">
                                        <label for="code"
                                          >Enter your Verification Code
                                          Here</label
                                        ><br />
                                        <input
                                          type="text"
                                          name="code"
                                          [(ngModel)]="verificationCode"
                                          placeholder="OTP"
                                        />
                                        <br />
                                        <br />
                                        <span
                                          class="btn btn-main2"
                                          (click)="verifyLoginCode()"
                                          >Verify</span
                                        >
                                      </div>
                                      <div
                                        *ngIf="!windowRef.confirmationResult"
                                      >
                                        <span
                                          class="btn btn-main2"
                                          (click)="
                                            sendLoginCode(
                                              customerDetailsArr.mobile
                                            )
                                          "
                                          *ngIf="
                                            !customerDetailsArr.mobile_verification ||
                                            customerDetailsArr.mobile_verification ===
                                              'false'
                                          "
                                          >SMS OTP CODE</span
                                        >
                                      </div>
                                    </div>

                                    <div *ngIf="user" class="">
                                      You have successfully verified your phone
                                      number!
                                      <br />
                                      <br />
                                    </div>
                                  </div>
                                </div> -->
                              </div>

                              <div class="col-lg-12">
                                <div class="form-group">
                                  <span class="">Secondary Mobile Number
                                    <span class="text-dark small">(optional)</span></span>
                                  <input type="tel" name="secondary_mobile" id="secondary_mobile" class="form-control"
                                    (keypress)="numberOnly($event)" placeholder="Enter Secondary Mobile Number"
                                    name="secondary_mobile" #secondary_mobile="ngModel" [(ngModel)]="
                                      customerDetailsArr.secondary_mobile
                                    " />
                                  <!-- <span class="small text-danger" *ngIf="(secondary_mobile.invalid && secondary_mobile.touched )">*invalid</span> -->
                                </div>
                              </div>

                              <!-- <div class="col-lg-12">
                                <div class="form-group">
                                  <span class="">Full Name</span>
                                  <input type="text" name="fname" id="fname" class="form-control" 
                                    placeholder="Enter First Name" name="fname" #fname="ngModel"
                                    [(ngModel)]="customerDetailsArr.fname" required>
        
                                  <span class="small text-danger" *ngIf="(fname.invalid && fname.touched )">*invalid</span>
                                </div>
                              </div>
        
        
                              <div class="col-lg-12">
                                <div class="form-group">
                                  <span class="">Last Name</span>
                                  <input type="text" name="lname" id="lname" class="form-control" 
                                    placeholder="Enter Last Name" name="lname" #lname="ngModel"
                                    [(ngModel)]="customerDetailsArr.lname" required>
        
                                  <span class="small text-danger" *ngIf="(lname.invalid && lname.touched )">*invalid</span>
                                </div>
                              </div> -->
                              <div class="col-lg-12">
                                <div class="form-group">
                                  <span class="">Address
                                    <span class="text-danger small">(*required)</span></span>
                                  <textarea cols="30" rows="4" class="form-control" placeholder="Address"
                                    name="address1" #address1="ngModel" [(ngModel)]="customerDetailsArr.address1"
                                    required></textarea>

                                  <span class="small text-danger"
                                    *ngIf="address1.invalid && address1.touched">*invalid</span>
                                </div>
                              </div>

                              <div class="col-lg-12">
                                <div class="form-group">
                                  <span class="">Email Address &nbsp; &nbsp; &nbsp;<span class="text-primary small">
                                      <i class="fa fa-check"></i> VERIFIED</span></span>
                                  <input type="email" name="email" id="email" class="form-control" disabled
                                    placeholder="Enter Email Address" name="email" #email="ngModel"
                                    pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" [(ngModel)]="customerDetailsArr.email"
                                    required />

                                  <span class="small text-danger" *ngIf="email.invalid && email.touched">*invalid</span>
                                </div>
                              </div>

                              <!-- <div class="col-lg-12">
                                <div class="form-group">
                                  <span class="">Password <span class="text-danger small">(*required)</span></span>
                                  <show-hide-password size="lg" btnStyle="primary" [btnOutline]="false">
                                    <input type="password" name="password" id="password" class="form-control"
                                       placeholder="Enter Password" name="password" #password="ngModel"
                                      [(ngModel)]="customerDetailsArr.password" required>
                                  </show-hide-password>
                                  <span class="small text-danger"
                                    *ngIf="(password.invalid && password.touched )">*invalid</span>
                                </div>
                              </div> -->
                              <div class="order-bill-slip text-right">
                                <button class="bill-btn5 hover-btn d-inline-block" style="border: none;"
                                  [disabled]="!profileUpdateForm.form.valid" type="submit">
                                  &nbsp;&nbsp;&nbsp;&nbsp;EDIT&nbsp;&nbsp;&nbsp;&nbsp;
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <br />
                    </form>
                  </div>
                </div>
              </div>
              <!-- <div class="col-lg-12 col-md-12">
                <div class="pdpt-bg">
                  <div class="pdpt-title">
                    <h4>My Wallet</h4>
                  </div>
                  <div class="wllt-body">
                    <h2>Credits $100</h2>
                    <ul class="wallet-list">
                      <li>
                        <a href="#" class="wallet-links14"
                          ><i class="uil uil-card-atm"></i>Payment Methods</a
                        >
                      </li>
                      <li>
                        <a href="#" class="wallet-links14"
                          ><i class="uil uil-gift"></i>3 offers Active</a
                        >
                      </li>
                      <li>
                        <a href="#" class="wallet-links14"
                          ><i class="uil uil-coins"></i>Points Earning</a
                        >
                      </li>
                    </ul>
                  </div>
                  <a href="#" class="more-link14"
                    >Rewards and Details
                    <i class="uil uil-angle-double-right"></i
                  ></a>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>