<div id="home" class="row pt-2 pb-2" *ngIf="storeData.store">
  <div>
    <button
      class="cartFloatingBtn btn"
      [disabled]="cartProducts.length === 0"
      (click)="gotoCart()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        height="25"
        fill="currentColor"
        class="bi bi-cart3"
        viewBox="0 0 16 16"
      >
        <path
          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
        />
      </svg>
      <span class="badge badge-pill bg-white text-success">{{
        cartProducts.length
      }}</span>
    </button>
  </div>
  <style>
    .order-item.active,
    .order-item:hover {
      background: none;
    }

    .product-item {
      border: 3px solid #cddc39;
      margin: 5px;
    }

    .menuul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #cddc39;
    }

    .menuli {
      float: left;
    }

    .menuli a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    .menuli a:hover:not(.active) {
      background-color: #111;
    }

    .active {
      background-color: #4caf50;
    }

    .navbar-nav a:hover {
      color: #f08100;
    }

    .btn1 {
      font-weight: 700;
      position: relative;
      text-transform: uppercase;
      padding: 16px 33px;
      border-radius: 35px;
      font-size: 14px;
      letter-spacing: 0.5px;
      font-family: 'Poppins', sans-serif;
      border: 2px solid transparent;
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      transition: all 0.3s ease-in-out;
      text-decoration: none;
    }

    .btn-main2 {
      background: #408858;
      color: #fff;
      border-color: #408858;
    }

    .btn-main2:hover {
      background: #f08100;
      color: #fff;
      border-color: #f08100;
    }
  </style>

  <section>
    <hr />

    <div class="container">
      <br />

      <div
        class="row col-lg-12 col-md-12 padding"
        style="    margin-left: 0px;"
      >
        <div class="order-item col-lg-12 col-md-12">
          <!-- <i class="fa fa-shipping"></i> -->
          <i class="fas fa-shipping-fast"></i>

          <div class="section-heading text-center mb-3">
            <h4 class="subheading" style="opacity: .5;">QUICK</h4>
            <span class="subtitle">NJAS</span>
          </div>
          <br /><br />
          <h5 class="text-center">
            Browse menu & <span>build</span> your order in seconds
          </h5>

          <hr />

          <p class="text-center">Delivery Time : 11:00 AM - 1:30 PM</p>
          <!-- <hr>
          <h5></h5> -->
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="order-item">
            <i>1</i>
            <h4>Choose</h4>
            <p>Lunch</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="order-item">
            <i>2</i>
            <h4>Choose</h4>
            <p>Juice</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="order-item">
            <i>3</i>
            <h4>Choose</h4>
            <p>Dessert</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="order-item">
            <i>4</i>
            <h4>Choose</h4>
            <p>Add-Ons</p>
          </div>
        </div>
      </div> -->
    </div>
  </section>
  <hr />
  <section *ngIf="storeData && storeData.store">
    <span *ngIf="storeData && storeData.store">
      <section
        id="store-details"
        *ngIf="
          storeData.store.store_link_status === 'active' &&
          storeData.sub_categories &&
          storeData.products &&
          storeData.sub_categories !== ' ' &&
          storeData.products !== ' '
        "
        class="w-100"
      >
        <div>
          <input type="hidden" name="baseUrl" id="baseUrl" value="assets/" />
          <input type="hidden" name="subDomain" id="subDomain" value="demo" />
          <input
            type="hidden"
            name="whatsapp"
            id="whatsapp"
            value="{{ storeData.store.whatsapp_number }}"
          />
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 top-title" id="mainBox">
                <div class="cardHeader" id="primaryData">
                  <div class="cardBody">
                    <section id="step5" style="background: white;">
                      <div *ngIf="selectedLunchProducts">
                        <div style="width: 100%;">
                          <div class="card">
                            <div class="card-header" id="headingOne">
                              <h2 class="mb-0 text-right">
                                <button
                                  class="btn btn-link11"
                                  type="button"
                                  data-toggle="collapse"
                                  data-target="#collapseOne"
                                  aria-expanded="true"
                                  aria-controls="collapseOne"
                                >
                                  Choose Lunch :
                                </button>
                              </h2>
                            </div>
                            <div
                              aria-labelledby="headingOne"
                              class="collapse show"
                              data-parent="#accordionExample"
                              id="collapseOne"
                              [hidden]="viewMode === 'list'"
                              *ngIf="selectedLunchProducts.length"
                            >
                              <div class="card-body p-0">
                                <div class="items text-center">
                                  <div
                                    class="item"
                                    *ngFor="
                                      let product of selectedLunchProducts
                                        | keyvalue;
                                      let i = index
                                    "
                                    [ngClass]="{
                                      hidden:
                                        product.value.status === 'inactive'
                                    }"
                                  >
                                    <div
                                      class="feature-item style-2  highlight-item"
                                    >
                                      <div class="singleCardBG product-item">
                                        <div
                                          class="addIProductsToCartDiv"
                                          [ngClass]="
                                            product.value.best_choice
                                              ? 'bestChoiceBadge promoted'
                                              : ' '
                                          "
                                        >
                                          <div
                                            class="singleCartItemArea addItemArea"
                                            [ngClass]="
                                              product.value.grade_a
                                                ? ' gradeABadge promoted1'
                                                : ' '
                                            "
                                          >
                                            <div></div>
                                          </div>

                                          <div class="feature-img">
                                            <img
                                              alt="product"
                                              (load)="imgLoaded = true"
                                              [hidden]="!imgLoaded"
                                              [src]="product.value.images1"
                                              onerror="this.onerror=null; this.src='./assets/images/no-image.png'"
                                            />
                                            <div
                                              style="display: block;
                                                max-height: 100%;
                                                                max-width: 100%;
                                                                width: auto;
                                                                height: auto;
                                                                position: absolute;
                                                                top: 0;
                                                                bottom: 0;
                                                                left: 0;
                                                                right: 0;
                                                                margin: auto;"
                                              [ngClass]="{ ' ': true }"
                                              *ngIf="!imgLoaded"
                                            ></div>
                                          </div>
                                        </div>
                                        <div class="feature-content">
                                          <hr />
                                          <div
                                            style="width: 100%;
                                          white-space: break-spaces; cursor: pointer;"
                                            (click)="openDialog(product)"
                                          >
                                            <h4>
                                              {{ product.value.name }} 
                                            </h4>
                                          </div>
                                          <hr />
                                          <p *ngIf="product.value.weight">
                                            ( {{ product.value.weight }} )
                                          </p>
                                          <p
                                            style="width: 100%;
                                          white-space: break-spaces;"
                                          >
                                            {{
                                              product.value.description &&
                                              product.value.description !==
                                                '0' &&
                                              product.value.description !==
                                                'N/A' &&
                                              product.value.description !==
                                                'false' &&
                                              product.value.description.length >
                                                5
                                                ? product.value.description.substring(
                                                    0,
                                                    55
                                                  )
                                                : selectedCategory.name
                                                ? selectedCategory.name
                                                : ' '
                                            }}
                                            {{
                                              product.value.description.substring(
                                                0,
                                                55
                                              ).length === 55
                                                ? '...'
                                                : ''
                                            }}
                                          </p>
                                        </div>
                                        <div
                                          class="plusMinusDiv"
                                          *ngIf="
                                            product.value.discount_price !==
                                              '0' &&
                                            checkInCart(product.value) &&
                                            product.value.sub_category_id
                                          "
                                        >
                                          <button
                                            type="button"
                                            data-id="4"
                                            data-name="{{ product.value.name }}"
                                            data-cost="product.value.discount_price"
                                            (click)="
                                              minusQuantityCOF(
                                                product.value,
                                                $event
                                              )
                                            "
                                          >
                                            -
                                          </button>

                                          <input
                                            type="text"
                                            class="form-control"
                                            value="{{
                                              this.storeData.store
                                                .currency_symbol
                                                | currencySymbol
                                            }} {{
                                              product.value.discount_price
                                            }}"
                                            name="qtyText"
                                            disabled
                                          />
                                          <span
                                            class="quantityCountProduct{{
                                              product.value.id
                                            }} w3-green"
                                            style="display: none; background-color: #408858; padding: 5px; color: white; border: white double; font-size: 14px;"
                                            >x1
                                          </span>
                                          &nbsp;&nbsp;

                                          <button
                                            type="button"
                                            data-id="4"
                                            data-name="{{ product.value.name }}"
                                            data-cost="product.discount_price"
                                            (click)="
                                              addToCartCOF(product.value)
                                            "
                                          >
                                            +
                                          </button>
                                        </div>
                                        <div
                                          *ngIf="
                                            product.value.discount_price !==
                                              '0' &&
                                            !checkInCart(product.value) &&
                                            product.value.sub_category_id
                                          "
                                          class="cartbtn"
                                        >
                                          <button
                                            type="button"
                                            (click)="
                                              addToCartCOF(product.value)
                                            "
                                            class="d-flex align-items-center justify-content-center"
                                          >
                                            <span
                                              *ngIf="
                                                product.value.price !== '0'
                                              "
                                              style="font-size: 12px; text-decoration: line-through; margin-right: 5px;"
                                              >{{
                                                this.storeData.store
                                                  .currency_symbol
                                                  | currencySymbol
                                              }}
                                              {{ product.value.price }}</span
                                            >
                                            {{
                                              this.storeData.store
                                                .currency_symbol
                                                | currencySymbol
                                            }}
                                            {{ product.value.discount_price }}
                                            <svg
                                              xmlns="http://www.w3.org/2000/svg"
                                              width="22"
                                              height="22"
                                              fill="currentColor"
                                              class="bi bi-cart4"
                                              viewBox="0 0 16 16"
                                            >
                                              <path
                                                d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
                                              />
                                            </svg>
                                          </button>
                                        </div>
                                        <span>
                                          <div
                                            class="itemPriceArea"
                                            *ngIf="
                                              product.value.discount_price ===
                                                '0' &&
                                              product.value.sub_category_id !==
                                                'false'
                                            "
                                          >
                                            <button
                                              (click)="
                                                chat(
                                                  'Hey! \nWould like to know more about the product - \n' +
                                                    product.value.name +
                                                    '.'
                                                )
                                              "
                                              expand="block"
                                              fill="clear"
                                              color="success"
                                            >
                                              <img
                                                width="20%"
                                                src="assets\images\icon\whatsappLogo.png"
                                                alt="logo"
                                                style="
                                              width: 30px;
                                              background: white;
                                              border-radius: 25px;"
                                              />
                                              Inquiry
                                            </button>
                                          </div>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <section *ngIf="!selectedLunchProducts.length">
                                  <div class="noItemsCart">
                                    No lunch found.
                                  </div>
                                </section>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div *ngIf="selectedAddonProducts">
                        <div class="card-header" id="headingOne">
                          <h2 class="mb-0 text-right">
                            <button
                              class="btn btn-link11"
                              type="button"
                              data-toggle="collapse"
                              data-target="#collapseOne"
                              aria-expanded="true"
                              aria-controls="collapseOne"
                            >
                              Choose Add-ons :
                            </button>
                          </h2>
                        </div>
                        <div
                          aria-labelledby="headingOne"
                          class="collapse show"
                          data-parent="#accordionExample"
                          id="collapseOne"
                          [hidden]="viewMode === 'list'"
                          *ngIf="selectedAddonProducts.length"
                        >
                          <div class="card-body p-0">
                            <div class="items text-center">
                              <div
                                class="item"
                                *ngFor="
                                  let product of selectedAddonProducts
                                    | keyvalue;
                                  let i = index
                                "
                                [ngClass]="{
                                  hidden: product.value.status === 'inactive'
                                }"
                              >
                                <div
                                  class="feature-item style-2  highlight-item"
                                >
                                  <div
                                    class="singleCardBG product-item"
                                    style="height: 220px;"
                                  >
                                    <div
                                      class="addIProductsToCartDiv"
                                      [ngClass]="
                                        product.value.best_choice
                                          ? 'bestChoiceBadge promoted'
                                          : ' '
                                      "
                                    >
                                      <div
                                        class="singleCartItemArea addItemArea"
                                        [ngClass]="
                                          product.value.grade_a
                                            ? ' gradeABadge promoted1'
                                            : ' '
                                        "
                                      >
                                        <div></div>
                                      </div>

                                      <div class="feature-img">
                                        <p class="text-right">#{{ i + 1 }}</p>
                                        <div
                                          style="display: block;
                                          max-height: 100%;
                                                          max-width: 100%;
                                                          width: auto;
                                                          height: auto;
                                                          position: absolute;
                                                          top: 0;
                                                          bottom: 0;
                                                          left: 0;
                                                          right: 0;
                                                          margin: auto;"
                                          [ngClass]="{ ' ': true }"
                                          *ngIf="!imgLoaded"
                                        ></div>
                                      </div>
                                    </div>
                                    <div class="feature-content">
                                      <hr />
                                      <div
                                        style="width: 100%;
                                    white-space: break-spaces; cursor: pointer;"
                                        (click)="openDialog(product)"
                                      >
                                        <h4>
                                          {{ product.value.name }}
                                        </h4>
                                      </div>
                                      <hr />
                                      <p *ngIf="product.value.weight">
                                        ( {{ product.value.weight }} )
                                      </p>
                                      <p
                                        style="width: 100%;
                                    white-space: break-spaces;"
                                      >
                                        {{
                                          product.value.description &&
                                          product.value.description !== '0' &&
                                          product.value.description !== 'N/A' &&
                                          product.value.description !==
                                            'false' &&
                                          product.value.description.length > 5
                                            ? product.value.description.substring(
                                                0,
                                                55
                                              )
                                            : selectedCategory.name
                                            ? selectedCategory.name
                                            : ' '
                                        }}
                                        {{
                                          product.value.description.substring(
                                            0,
                                            55
                                          ).length === 55
                                            ? '...'
                                            : ''
                                        }}
                                      </p>
                                    </div>
                                    <div
                                      class="plusMinusDiv"
                                      *ngIf="
                                        product.value.discount_price !== '0' &&
                                        checkInCart(product.value) &&
                                        product.value.sub_category_id
                                      "
                                    >
                                      <button
                                        type="button"
                                        data-id="4"
                                        data-name="{{ product.value.name }}"
                                        data-cost="product.value.discount_price"
                                        (click)="
                                          minusQuantityCOF(
                                            product.value,
                                            $event
                                          )
                                        "
                                      >
                                        -
                                      </button>

                                      <input
                                        type="text"
                                        class="form-control"
                                        value="{{
                                          this.storeData.store.currency_symbol
                                            | currencySymbol
                                        }} {{ product.value.discount_price }}"
                                        name="qtyText"
                                        disabled
                                      />
                                      <span
                                        class="quantityCountProduct{{
                                          product.value.id
                                        }} w3-green"
                                        style="display: none; background-color: #408858; padding: 5px; color: white; border: white double; font-size: 14px;"
                                        >x1
                                      </span>
                                      &nbsp;&nbsp;

                                      <button
                                        type="button"
                                        data-id="4"
                                        data-name="{{ product.value.name }}"
                                        data-cost="product.discount_price"
                                        (click)="addToCartCOF(product.value)"
                                      >
                                        +
                                      </button>
                                    </div>
                                  </div>
                                  <div
                                    *ngIf="
                                      product.value.discount_price !== '0' &&
                                      !checkInCart(product.value) &&
                                      product.value.sub_category_id
                                    "
                                    class="cartbtn"
                                  >
                                    <button
                                      type="button"
                                      (click)="addToCartCOF(product.value)"
                                      class="d-flex align-items-center justify-content-center"
                                    >
                                      <span
                                        *ngIf="product.value.price !== '0'"
                                        style="font-size: 12px; text-decoration: line-through; margin-right: 5px;"
                                        >{{
                                          this.storeData.store.currency_symbol
                                            | currencySymbol
                                        }}
                                        {{ product.value.price }}</span
                                      >
                                      {{
                                        this.storeData.store.currency_symbol
                                          | currencySymbol
                                      }}
                                      {{ product.value.discount_price }}
                                      <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="22"
                                        height="22"
                                        fill="currentColor"
                                        class="bi bi-cart4"
                                        viewBox="0 0 16 16"
                                      >
                                        <path
                                          d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
                                        />
                                      </svg>
                                    </button>
                                  </div>
                                  <span>
                                    <div
                                      class="itemPriceArea"
                                      *ngIf="
                                        product.value.discount_price === '0' &&
                                        product.value.sub_category_id !==
                                          'false'
                                      "
                                    >
                                      <button
                                        (click)="
                                          chat(
                                            'Hey! \nWould like to know more about the product - \n' +
                                              product.value.name +
                                              '.'
                                          )
                                        "
                                        expand="block"
                                        fill="clear"
                                        color="success"
                                      >
                                        <img
                                          width="20%"
                                          src="assets\images\icon\whatsappLogo.png"
                                          alt="logo"
                                          style="
                                        width: 30px;
                                        background: white;
                                        border-radius: 25px;"
                                        />
                                        Inquiry
                                      </button>
                                    </div>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <section *ngIf="!selectedAddonProducts.length">
                              <div class="noItemsCart">
                                No add-on found.
                              </div>
                            </section>
                          </div>
                        </div>
                      </div>

                      <div *ngIf="this.selectedJuiceProducts">
                        <div class="card-header" id="headingOne">
                          <h2 class="mb-0 text-right">
                            <button
                              class="btn btn-link11"
                              type="button"
                              data-toggle="collapse"
                              data-target="#collapseOne"
                              aria-expanded="true"
                              aria-controls="collapseOne"
                            >
                              Choose Juice :
                            </button>
                          </h2>
                        </div>
                        <div
                          aria-labelledby="headingOne"
                          class="collapse show"
                          data-parent="#accordionExample"
                          id="collapseOne"
                          [hidden]="viewMode === 'list'"
                          *ngIf="selectedJuiceProducts.length"
                        >
                          <div class="card-body p-0">
                            <div class="items text-center">
                              <div
                                class="item"
                                *ngFor="
                                  let product of selectedJuiceProducts
                                    | keyvalue;
                                  let i = index
                                "
                                [ngClass]="{
                                  hidden: product.value.status === 'inactive'
                                }"
                              >
                                <div
                                  class="feature-item style-2  highlight-item"
                                >
                                  <div
                                    class="singleCardBG product-item"
                                    style="height: 350px;"
                                  >
                                    <div
                                      class="addIProductsToCartDiv"
                                      [ngClass]="
                                        product.value.best_choice
                                          ? 'bestChoiceBadge promoted'
                                          : ' '
                                      "
                                    >
                                      <div
                                        class="singleCartItemArea addItemArea"
                                        [ngClass]="
                                          product.value.grade_a
                                            ? ' gradeABadge promoted1'
                                            : ' '
                                        "
                                      >
                                        <div></div>
                                      </div>

                                      <div class="feature-img">
                                        <img
                                          alt="product"
                                          (load)="imgLoaded = true"
                                          [hidden]="!imgLoaded"
                                          [src]="product.value.images1"
                                          onerror="this.onerror=null; this.src='./assets/images/no-image.png'"
                                        />
                                        <div
                                          style="display: block;
                                          max-height: 100%;
                                                          max-width: 100%;
                                                          width: auto;
                                                          height: auto;
                                                          position: absolute;
                                                          top: 0;
                                                          bottom: 0;
                                                          left: 0;
                                                          right: 0;
                                                          margin: auto;"
                                          [ngClass]="{ ' ': true }"
                                          *ngIf="!imgLoaded"
                                        ></div>
                                      </div>
                                    </div>
                                    <div class="feature-content">
                                      <hr />
                                      <div
                                        style="width: 100%;
                                    white-space: break-spaces; cursor: pointer;"
                                        (click)="openDialog(product)"
                                      >
                                        <h4>
                                          {{ product.value.name }}
                                        </h4>
                                      </div>
                                      <hr />
                                      <p *ngIf="product.value.weight">
                                        ( {{ product.value.weight }} )
                                      </p>
                                      <p
                                        style="width: 100%;
                                    white-space: break-spaces;"
                                      >
                                        {{
                                          product.value.description &&
                                          product.value.description !== '0' &&
                                          product.value.description !== 'N/A' &&
                                          product.value.description !==
                                            'false' &&
                                          product.value.description.length > 5
                                            ? product.value.description.substring(
                                                0,
                                                55
                                              )
                                            : selectedCategory.name
                                            ? selectedCategory.name
                                            : ' '
                                        }}
                                        {{
                                          product.value.description.substring(
                                            0,
                                            55
                                          ).length === 55
                                            ? '...'
                                            : ''
                                        }}
                                      </p>
                                    </div>
                                    <div
                                      class="plusMinusDiv"
                                      *ngIf="
                                        product.value.discount_price !== '0' &&
                                        checkInCart(product.value) &&
                                        product.value.sub_category_id
                                      "
                                    >
                                      <button
                                        type="button"
                                        data-id="4"
                                        data-name="{{ product.value.name }}"
                                        data-cost="product.value.discount_price"
                                        (click)="
                                          minusQuantityCOF(
                                            product.value,
                                            $event
                                          )
                                        "
                                      >
                                        -
                                      </button>

                                      <input
                                        type="text"
                                        class="form-control"
                                        value="{{
                                          this.storeData.store.currency_symbol
                                            | currencySymbol
                                        }} {{ product.value.discount_price }}"
                                        name="qtyText"
                                        disabled
                                      />
                                      <span
                                        class="quantityCountProduct{{
                                          product.value.id
                                        }} w3-green"
                                        style="display: none; background-color: #408858; padding: 5px; color: white; border: white double; font-size: 14px;"
                                        >x1
                                      </span>
                                      &nbsp;&nbsp;

                                      <button
                                        type="button"
                                        data-id="4"
                                        data-name="{{ product.value.name }}"
                                        data-cost="product.discount_price"
                                        (click)="addToCartCOF(product.value)"
                                      >
                                        +
                                      </button>
                                    </div>
                                  </div>
                                  <div
                                    *ngIf="
                                      product.value.discount_price !== '0' &&
                                      !checkInCart(product.value) &&
                                      product.value.sub_category_id
                                    "
                                    class="cartbtn"
                                  >
                                    <button
                                      type="button"
                                      (click)="addToCartCOF(product.value)"
                                      class="d-flex align-items-center justify-content-center"
                                    >
                                      <span
                                        *ngIf="product.value.price !== '0'"
                                        style="font-size: 12px; text-decoration: line-through; margin-right: 5px;"
                                        >{{
                                          this.storeData.store.currency_symbol
                                            | currencySymbol
                                        }}
                                        {{ product.value.price }}</span
                                      >
                                      {{
                                        this.storeData.store.currency_symbol
                                          | currencySymbol
                                      }}
                                      {{ product.value.discount_price }}
                                      <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="22"
                                        height="22"
                                        fill="currentColor"
                                        class="bi bi-cart4"
                                        viewBox="0 0 16 16"
                                      >
                                        <path
                                          d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
                                        />
                                      </svg>
                                    </button>
                                  </div>
                                  <span>
                                    <div
                                      class="itemPriceArea"
                                      *ngIf="
                                        product.value.discount_price === '0' &&
                                        product.value.sub_category_id !==
                                          'false'
                                      "
                                    >
                                      <button
                                        (click)="
                                          chat(
                                            'Hey! \nWould like to know more about the product - \n' +
                                              product.value.name +
                                              '.'
                                          )
                                        "
                                        expand="block"
                                        fill="clear"
                                        color="success"
                                      >
                                        <img
                                          width="20%"
                                          src="assets\images\icon\whatsappLogo.png"
                                          alt="logo"
                                          style="
                                        width: 30px;
                                        background: white;
                                        border-radius: 25px;"
                                        />
                                        Inquiry
                                      </button>
                                    </div>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <section *ngIf="!selectedLunchProducts.length">
                              <div class="noItemsCart">
                                No Juice found.
                              </div>
                            </section>
                          </div>
                        </div>
                      </div>

                      <div
                        *ngIf="this.selectedDessertProducts"
                        style="background: #F1F6FC;"
                      >
                        <div class="card-header" id="headingOne">
                          <h2 class="mb-0 text-right">
                            <button
                              class="btn btn-link11"
                              type="button"
                              data-toggle="collapse"
                              data-target="#collapseOne"
                              aria-expanded="true"
                              aria-controls="collapseOne"
                            >
                              Choose Dessert :
                            </button>
                          </h2>
                        </div>

                        <div
                          aria-labelledby="headingOne"
                          class="collapse show"
                          data-parent="#accordionExample"
                          id="collapseOne"
                          [hidden]="viewMode === 'list'"
                          *ngIf="selectedDessertProducts.length"
                        >
                          <div class="card-body p-0">
                            <div class="items text-center">
                              <div
                                class="item"
                                *ngFor="
                                  let product of selectedDessertProducts
                                    | keyvalue;
                                  let i = index
                                "
                                [ngClass]="{
                                  hidden: product.value.status === 'inactive'
                                }"
                              >
                                <div
                                  class="feature-item style-2  highlight-item"
                                >
                                  <div
                                    class="singleCardBG product-item"
                                    style="height: 350px;"
                                  >
                                    <div
                                      class="addIProductsToCartDiv"
                                      [ngClass]="
                                        product.value.best_choice
                                          ? 'bestChoiceBadge promoted'
                                          : ' '
                                      "
                                    >
                                      <div
                                        class="singleCartItemArea addItemArea"
                                        [ngClass]="
                                          product.value.grade_a
                                            ? ' gradeABadge promoted1'
                                            : ' '
                                        "
                                      >
                                        <div></div>
                                      </div>

                                      <div class="feature-img">
                                        <img
                                          alt="product"
                                          (load)="imgLoaded = true"
                                          [hidden]="!imgLoaded"
                                          [src]="product.value.images1"
                                          onerror="this.onerror=null; this.src='./assets/images/no-image.png'"
                                        />
                                        <div
                                          style="display: block;
                                          max-height: 100%;
                                                          max-width: 100%;
                                                          width: auto;
                                                          height: auto;
                                                          position: absolute;
                                                          top: 0;
                                                          bottom: 0;
                                                          left: 0;
                                                          right: 0;
                                                          margin: auto;"
                                          [ngClass]="{ ' ': true }"
                                          *ngIf="!imgLoaded"
                                        ></div>
                                      </div>
                                    </div>
                                    <div class="feature-content">
                                      <hr />
                                      <div
                                        style="width: 100%;
                                        white-space: break-spaces; cursor: pointer;"
                                        (click)="openDialog(product)"
                                      >
                                        <h4>
                                          {{ product.value.name }}
                                        </h4>
                                      </div>
                                      <hr />
                                      <p *ngIf="product.value.weight">
                                        ( {{ product.value.weight }} )
                                      </p>
                                      <p
                                        style="width: 100%;
                                    white-space: break-spaces;"
                                      >
                                        {{
                                          product.value.description &&
                                          product.value.description !== '0' &&
                                          product.value.description !== 'N/A' &&
                                          product.value.description !==
                                            'false' &&
                                          product.value.description.length > 5
                                            ? product.value.description.substring(
                                                0,
                                                55
                                              )
                                            : selectedCategory.name
                                            ? selectedCategory.name
                                            : ' '
                                        }}
                                        {{
                                          product.value.description.substring(
                                            0,
                                            55
                                          ).length === 55
                                            ? '...'
                                            : ''
                                        }}
                                      </p>
                                    </div>
                                    <div
                                      class="plusMinusDiv"
                                      *ngIf="
                                        product.value.discount_price !== '0' &&
                                        checkInCart(product.value) &&
                                        product.value.sub_category_id
                                      "
                                    >
                                      <button
                                        type="button"
                                        data-id="4"
                                        data-name="{{ product.value.name }}"
                                        data-cost="product.value.discount_price"
                                        (click)="
                                          minusQuantityCOF(
                                            product.value,
                                            $event
                                          )
                                        "
                                      >
                                        -
                                      </button>

                                      <input
                                        type="text"
                                        class="form-control"
                                        value="{{
                                          this.storeData.store.currency_symbol
                                            | currencySymbol
                                        }} {{ product.value.discount_price }}"
                                        name="qtyText"
                                        disabled
                                      />
                                      <span
                                        class="quantityCountProduct{{
                                          product.value.id
                                        }} w3-green"
                                        style="display: none; background-color: #408858; padding: 5px; color: white; border: white double; font-size: 14px;"
                                        >x1
                                      </span>
                                      &nbsp;&nbsp;

                                      <button
                                        type="button"
                                        data-id="4"
                                        data-name="{{ product.value.name }}"
                                        data-cost="product.discount_price"
                                        (click)="addToCartCOF(product.value)"
                                      >
                                        +
                                      </button>
                                    </div>
                                  </div>
                                  <div
                                    *ngIf="
                                      product.value.discount_price !== '0' &&
                                      !checkInCart(product.value) &&
                                      product.value.sub_category_id
                                    "
                                    class="cartbtn"
                                  >
                                    <button
                                      type="button"
                                      (click)="addToCartCOF(product.value)"
                                      class="d-flex align-items-center justify-content-center"
                                    >
                                      <span
                                        *ngIf="product.value.price !== '0'"
                                        style="font-size: 12px; text-decoration: line-through; margin-right: 5px;"
                                        >{{
                                          this.storeData.store.currency_symbol
                                            | currencySymbol
                                        }}
                                        {{ product.value.price }}</span
                                      >
                                      {{
                                        this.storeData.store.currency_symbol
                                          | currencySymbol
                                      }}
                                      {{ product.value.discount_price }}
                                      <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="22"
                                        height="22"
                                        fill="currentColor"
                                        class="bi bi-cart4"
                                        viewBox="0 0 16 16"
                                      >
                                        <path
                                          d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
                                        />
                                      </svg>
                                    </button>
                                  </div>
                                  <span>
                                    <div
                                      class="itemPriceArea"
                                      *ngIf="
                                        product.value.discount_price === '0' &&
                                        product.value.sub_category_id !==
                                          'false'
                                      "
                                    >
                                      <button
                                        (click)="
                                          chat(
                                            'Hey! \nWould like to know more about the product - \n' +
                                              product.value.name +
                                              '.'
                                          )
                                        "
                                        expand="block"
                                        fill="clear"
                                        color="success"
                                      >
                                        <img
                                          width="20%"
                                          src="assets\images\icon\whatsappLogo.png"
                                          alt="logo"
                                          style="
                                        width: 30px;
                                        background: white;
                                        border-radius: 25px;"
                                        />
                                        Inquiry
                                      </button>
                                    </div>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <section *ngIf="!selectedDessertProducts.length">
                              <div class="noItemsCart">
                                No Dessert found.
                              </div>
                            </section>
                          </div>
                        </div>
                        <!-- <div
                          class="widget align-items-center justify-content-center"
                          style="padding-right: 1px;padding-left: 1px;"
                        >
                          
                          <div
                            class="row m-0 pt-4 pb-4"
                            [hidden]="viewMode === 'list'"
                            *ngIf="this.selectedDessertProducts.length"
                          >
                            <div
                              class="col-lg-3 col-md-6 singleCard"
                              *ngFor="
                                let product of this.selectedDessertProducts
                                  | keyvalue;
                                let i = index
                              "
                              [ngClass]="{
                                hidden: product.value.status === 'inactive'
                              }"
                            >
                              <div class="singleCardBG product-item">
                               
                                <div
                                  class="addIProductsToCartDiv"
                                  style="border-radius: 5px;"
                                  [ngClass]="
                                    product.value.best_choice
                                      ? 'bestChoiceBadge promoted'
                                      : ' '
                                  "
                                >
                                  <div
                                    class="singleCartItemArea addItemArea"
                                    [ngClass]="
                                      product.value.grade_a
                                        ? ' gradeABadge promoted1'
                                        : ' '
                                    "
                                  >
                                    <div
                                      style="
                                      width: 100%;
        height: 200px;
        margin: auto;
        border-bottom: 2px solid #408858;
        margin-bottom: 10px;"
                                    >
                                      <img
                                        style="width: 100%; height: 100%; margin: auto; object-fit: contain;"
                                        alt="product"
                                        (load)="imgLoaded = true"
                                        [hidden]="!imgLoaded"
                                        [src]="product.value.images1"
                                        onerror="this.onerror=null; this.src='./assets/images/no-image.png'"
                                      />
                                      <div
                                        style="display: block;
                                        max-height: 100%;
                                                        max-width: 100%;
                                                        width: auto;
                                                        height: auto;
                                                        position: absolute;
                                                        top: 0;
                                                        bottom: 0;
                                                        left: 0;
                                                        right: 0;
                                                        margin: auto;"
                                        [ngClass]="{ ' ': true }"
                                        *ngIf="!imgLoaded"
                                      ></div>
                                    </div>

                                    <h1 style="font-size: smaller;">
                                      {{ product.value.name }}
                                      <span
                                        class="text-dark"
                                        style="font-size: smaller;"
                                        *ngIf="product.value.weight"
                                      >
                                        ( {{ product.value.weight }} )
                                      </span>
                                    </h1>
                                    <div class="itemDescription">
                                      {{
                                        product.value.description &&
                                        product.value.description !== '0' &&
                                        product.value.description !== 'N/A' &&
                                        product.value.description !== 'false'
                                          ? product.value.description
                                          : selectedCategory.name
                                          ? selectedCategory.name
                                          : ' '
                                      }}
                                    </div>
                                    <span>
                                         <div
                                        class="plusMinusDiv"
                                        *ngIf="
                                          product.value.discount_price !==
                                            '0' &&
                                          checkInCart(product.value) &&
                                          product.value.sub_category_id
                                        "
                                      >
                                        <button
                                          type="button"
                                          data-id="4"
                                          data-name="{{ product.value.name }}"
                                          data-cost="product.value.discount_price"
                                          (click)="
                                            minusQuantityCOF(
                                              product.value,
                                              $event
                                            )
                                          "
                                        >
                                          -
                                        </button>

                                        <input
                                          type="text"
                                          class="form-control"
                                          value="{{
                                            this.storeData.store
                                              .currency_symbol | currencySymbol
                                          }} {{ product.value.discount_price }}"
                                          name="qtyText"
                                          disabled
                                        />
                                        <span
                                          class="quantityCountProduct{{
                                            product.value.id
                                          }} w3-green"
                                          style="display: none; background-color: #408858; padding: 5px; color: white; border: white double; font-size: 14px;"
                                        >
                                        </span>
                                        &nbsp;&nbsp;

                                        <button
                                          type="button"
                                          data-id="4"
                                          data-name="{{ product.value.name }}"
                                          data-cost="product.discount_price"
                                          (click)="addToCartCOF(product.value)"
                                        >
                                          +
                                        </button>
                                      </div>
                                      <div
                                        class="itemPriceArea"
                                        *ngIf="
                                          product.value.discount_price ===
                                            '0' &&
                                          product.value.sub_category_id !==
                                            'false'
                                        "
                                      >
                                        <button
                                          (click)="
                                            chat(
                                              'Hey! \nWould like to know more about the product - \n' +
                                                product.value.name +
                                                '.'
                                            )
                                          "
                                          expand="block"
                                          fill="clear"
                                          color="success"
                                        >
                                          <img
                                            width="20%"
                                            src="assets\images\icon\whatsappLogo.png"
                                            alt="logo"
                                            style="
                                            width: 30px;
                                            background: white;
                                            border-radius: 25px;"
                                          />
                                          Inquiry
                                        </button>
                                      </div>
                                    </span>
                                  </div>
                                </div>
                                <div
                                  *ngIf="
                                    product.value.discount_price !== '0' &&
                                    !checkInCart(product.value) &&
                                    product.value.sub_category_id
                                  "
                                  class="cartbtn"
                                >
                                  <button
                                    type="button"
                                    (click)="addToCartCOF(product.value)"
                                    class="d-flex align-items-center justify-content-center"
                                  >
                                    <span
                                      *ngIf="product.value.price !== '0'"
                                      style="font-size: 12px; text-decoration: line-through; margin-right: 5px;"
                                      >{{
                                        this.storeData.store.currency_symbol
                                          | currencySymbol
                                      }}
                                      {{ product.value.price }}</span
                                    >
                                    {{
                                      this.storeData.store.currency_symbol
                                        | currencySymbol
                                    }}
                                    {{ product.value.discount_price }}
                                    <svg
                                      xmlns="http://www.w3.org/2000/svg"
                                      width="22"
                                      height="22"
                                      fill="currentColor"
                                      class="bi bi-cart4"
                                      viewBox="0 0 16 16"
                                    >
                                      <path
                                        d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
                                      />
                                    </svg>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <section *ngIf="!this.selectedDessertProducts.length">
                            <div class="noItemsCart">
                              No dessert found.
                            </div>
                          </section>
                        </div> -->

                        <br /><br />
                      </div>

                      <div class="card-header" id="headingOne">
                        <h2 class="mb-0 text-right">
                          <button
                            [routerLink]="['/cart']"
                            class="btn btn-main"
                            [disabled]="cartProducts.length === 0"
                          >
                            <b>Proceed to checkout</b
                            ><i class="ti-angle-right"></i>
                          </button>
                        </h2>
                      </div>

                      <br /><br />
                    </section>
                  </div>
                </div>
                &nbsp;
              </div>
            </div>
          </div>

          <div class="cart-footer"></div>
        </div>
      </section>
      <section
        *ngIf="
          storeData.store.store_link_status === 'inactive' ||
          !storeData.sub_categories ||
          !storeData.products ||
          storeData.sub_categories === ' ' ||
          storeData.products === ' '
        "
      >
        <div class="ion-padding" style="height: 100%">
          <div
            class="ion-align-items-center ion-justify-content-center"
            style="height: 100%; flex-direction: column"
          >
            <div class="ion-text-center ion-padding">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-bell-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"
                />
              </svg>
              <h4>Store under maintenance!</h4>
              <p>
                Sorry for the inconvenience but we&rsquo;re performing some
                maintenance at the moment. We&rsquo;ll be back online shortly!
              </p>
              <p>&mdash; {{ storeData.store.display_name }} Team</p>

              <h3>
                If you are owner of this store, Activate this link from
                <a
                  href="http://admin.notjusasalad.com"
                  target="_blank"
                  rel="noreferrer"
                  >http://admin.notjusasalad.com</a
                >
              </h3>
            </div>
          </div>
        </div>
      </section>
    </span>
    <span *ngIf="!storeData">
      <div class="ion-padding" style="height: 100%">
        <div
          class="ion-align-items-center ion-justify-content-center"
          style="height: 100%; flex-direction: column"
        >
          <div class="ion-text-center ion-padding">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-cone-striped"
              viewBox="0 0 16 16"
            >
              <path
                d="M9.97 4.88l.953 3.811C10.158 8.878 9.14 9 8 9c-1.14 0-2.159-.122-2.923-.309L6.03 4.88C6.635 4.957 7.3 5 8 5s1.365-.043 1.97-.12zm-.245-.978L8.97.88C8.718-.13 7.282-.13 7.03.88L6.274 3.9C6.8 3.965 7.382 4 8 4c.618 0 1.2-.036 1.725-.098zm4.396 8.613a.5.5 0 0 1 .037.96l-6 2a.5.5 0 0 1-.316 0l-6-2a.5.5 0 0 1 .037-.96l2.391-.598.565-2.257c.862.212 1.964.339 3.165.339s2.303-.127 3.165-.339l.565 2.257 2.391.598z"
              />
            </svg>
            <h4>Store under registration!</h4>
            <p>
              Sorry for the inconvenience but we&rsquo;re performing some
              maintenance at the moment. We&rsquo;ll be back online shortly!
            </p>
            <p>&mdash; NotJusASalad Team</p>
            <h3>
              If you are owner of this store, Activate this link from
              <a
                href="http://admin.notjusasalad.com"
                target="_blank"
                rel="noreferrer"
                >http://admin.notjusasalad.com</a
              >
            </h3>
          </div>
        </div>
      </div>
    </span>
  </section>
</div>
