<div class="wrapper">
  <div class="gambo-Breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="['/']" routerLinkActive="router-link-active">
                  <i class="uil uil-arrow-left"></i>
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Change Password
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-group">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="user-dt">
            <div class="user-img">
              <img src="assets/images/avatar/img-5.jpg" alt="" />
              <div class="img-add">
                <input type="file" id="file" />
                <!-- <label for="file"><i class="uil uil-camera-plus"></i></label> -->
              </div>
            </div>
            <h4>{{ customerDetailsArr.name }}</h4>
            <p>
              {{ customerDetailsArr.email }}
              <!-- <a href="#"><i class="uil uil-edit"></i></a> -->
            </p>
            <!-- <div class="earn-points">
              <img src="assets/images/Dollar.svg" alt="" />Points :
              <span>20</span>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="left-side-tabs">
            <div class="dashboard-left-links">
              <!-- <a [routerLink]="['/user-navigation']" class="user-item"
                ><i class="uil uil-apps"></i>Overview</a
              > -->
              <a [routerLink]="['/profile']" class="user-item"
                ><i class="uil uil-user-circle"></i>My Profile</a
              >
              <a [routerLink]="['/change-password']" class="user-item active"
                ><i class="uil uil-key-skeleton-alt"></i>Change Password</a
              >

              <a [routerLink]="['/my-groceries/groceries']" class="user-item"
                ><i class="uil uil-box"></i>My Orders</a
              >
              <!-- <a href="dashboard_my_rewards.html" class="user-item"
                ><i class="uil uil-gift"></i>My Rewards</a
              >
              <a href="dashboard_my_wallet.html" class="user-item"
                ><i class="uil uil-wallet"></i>My Wallet</a
              >
              <a href="dashboard_my_wishlist.html" class="user-item"
                ><i class="uil uil-heart"></i>Shopping Wishlist</a
              >
              <a href="dashboard_my_addresses.html" class="user-item"
                ><i class="uil uil-location-point"></i>My Address</a
              > -->
              <a (click)="this.auth.signOut()" class="user-item"
                ><i class="uil uil-exit"></i>Logout</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-md-8">
          <div class="dashboard-right">
            <div class="row">
              <div class="col-md-12">
                <div class="main-title-tab">
                  <h4>
                    <i class="uil uil-key-skeleton-alt"></i>Change Password
                  </h4>
                </div>
              </div>
              <!-- <div class="col-md-12">
                <div class="main-title-tab">
                  <h4><i class="uil uil-user-circle"></i>My Profile</h4>
                </div>
                <div class="welcome-text">
                  <h2>Hi! {{ customerDetailsArr.name }}</h2>
                </div>
              </div> -->
              <!-- <div class="col-lg-6 col-md-12">
                <div class="pdpt-bg">
                  <div class="pdpt-title">
                    <h4>My Rewards</h4>
                  </div>
                  <div class="ddsh-body">
                    <h2>6 Rewards</h2>
                    <ul>
                      <li>
                        <a href="#" class="small-reward-dt hover-btn">Won $2</a>
                      </li>
                      <li>
                        <a href="#" class="small-reward-dt hover-btn"
                          >Won 40% Off</a
                        >
                      </li>
                      <li>
                        <a href="#" class="small-reward-dt hover-btn"
                          >Caskback $1</a
                        >
                      </li>
                      <li>
                        <a href="#" class="rewards-link5">+More</a>
                      </li>
                    </ul>
                  </div>
                  <a href="#" class="more-link14"
                    >Rewards and Details
                    <i class="uil uil-angle-double-right"></i
                  ></a>
                </div>
              </div> -->
              <div class="block contact__msg" style="display: none;">
                <div class="card">
                  <div class="text-center card-body">
                    <div class="col-lg-12">
                      <div class="alert alert-success " role="alert">
                        <br />
                        <h5>
                          Your order has been mailed, You will get response from
                          <strong class="text-danger">NJAS Team</strong>
                          shortly. Thank you for shopping with us!
                        </h5>
                        <a
                          class="btn btn-success btn-rounded waves-effect waves-light m-b-40"
                          [routerLink]="['/home']"
                          >Back to home</a
                        >
                        <br />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="pdpt-bg">
                  <!-- <div class="pdpt-title">
                    <h4 style="border: none;">My Profile</h4>
                  </div> -->
                  <div class="ddsh-body">
                    <div class="container">
                      <form
                        #changePasswordForm="ngForm"
                        (ngSubmit)="submitForm(changePasswordForm)"
                        id="formDiv"
                      >
                        <input
                          name="id"
                          #id="ngModel"
                          [(ngModel)]="customerDetailsArr.id"
                          type="hidden"
                          value="{{ customerDetailsArr.id }}"
                        />

                        <div class="form-group pos_rel">
                          <input
                            type="password"
                            name="password"
                            id="password"
                            placeholder="Enter Current Password"
                            class="form-control lgn_input"
                            #password="ngModel"
                            [(ngModel)]="customerDetailsArr.password"
                            required
                          />
                          <i class="uil uil-padlock lgn_icon"></i>

                          <span
                            class="small text-danger"
                            *ngIf="password.invalid && password.touched"
                            >*invalid</span
                          >
                        </div>
                        <div class="form-group pos_rel">
                          <input
                            type="password"
                            name="new_password"
                            id="new_password"
                            class="form-control lgn_input"
                            placeholder="Enter New Password"
                            name="new_password"
                            #new_password="ngModel"
                            [(ngModel)]="customerDetailsArr.new_password"
                            required
                          />
                          <i class="uil uil-padlock lgn_icon"></i>

                          <span
                            class="small text-danger"
                            *ngIf="password.invalid && password.touched"
                            >*invalid</span
                          >
                        </div>
                        <button
                          class="login-btn hover-btn"
                          [disabled]="!changePasswordForm.form.valid"
                          type="submit"
                        >
                          Submit
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-12 col-md-12">
                <div class="pdpt-bg">
                  <div class="pdpt-title">
                    <h4>My Wallet</h4>
                  </div>
                  <div class="wllt-body">
                    <h2>Credits $100</h2>
                    <ul class="wallet-list">
                      <li>
                        <a href="#" class="wallet-links14"
                          ><i class="uil uil-card-atm"></i>Payment Methods</a
                        >
                      </li>
                      <li>
                        <a href="#" class="wallet-links14"
                          ><i class="uil uil-gift"></i>3 offers Active</a
                        >
                      </li>
                      <li>
                        <a href="#" class="wallet-links14"
                          ><i class="uil uil-coins"></i>Points Earning</a
                        >
                      </li>
                    </ul>
                  </div>
                  <a href="#" class="more-link14"
                    >Rewards and Details
                    <i class="uil uil-angle-double-right"></i
                  ></a>
                </div>
              </div> -->
      </div>
    </div>
  </div>
</div>
