<section class="blog-section section-padding" style="padding:26px 0px;" *ngIf="cakeDetailsArr && storeArr">
  <div class="row justify-content-center">
    <div class="col-lg-11">


      <div class="block">
        <div class="row col">

          <div class="text-left col">
            <a routerLinkActive="active" [routerLink]="['/cake']" class="text-left">
              <i class="ti-close"></i>
              Cancel
            </a>
          </div>
          <div class="text-right col">
            <p class="text-right">Checkout</p>
          </div>

        </div>



        <br>





        <form class="ion-padding" #orderForm="ngForm" (ngSubmit)="submitOrder(orderForm)">

          <div class="row">
            <div class="accordion" style="width: 100%;">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0 text-right">
                    <button class="btn btn-link11" type="button" data-toggle="collapse" data-target="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne">
                      <i class="ti-check-box"></i>
                      Checkout Details
                    </button>
                  </h2>
                </div>
                <div id="collapseOne" class="collapse show formDiv" aria-labelledby="headingOne"
                  data-parent="#accordionExample">
                  <div class="card-body">

                    <div class="col-lg-12">
                      <ul class="list-group">
                        <li class="list-group-item">Selected Product : <h5>{{cakeDetailsArr.name}}
                          </h5>
                        </li>


                        <li class="list-group-item">Select Country :
                          <select class="form-control" name="address2" #address2="ngModel"
                            (change)="preferenceCountry($event)" [(ngModel)]="customerDetailsArr.address2" required>
                            <!-- <option value="none" label="Choose Country" selected="selected">Choose Country
                          </option> -->
                            <!-- <option value="Island wide" label="Island wide">Island wide</option> -->
                            <option value="Jamaica" label="Jamaica">Jamaica</option>
                            <option value="Trinidad" label="Trinidad">Trinidad</option>
                          </select>
                          <span class="small text-danger"
                            *ngIf="(address2.invalid && address2.touched )">*invalid</span>
                        </li>

                        <span *ngIf="customerDetailsArr.address2==='Jamaica'">

                          <li class="list-group-item">Select Parish :
                            <select class="form-control" name="parish" id="parish" #parish="ngModel"
                              (change)="preference($event)" [(ngModel)]="customerDetailsArr.parish" required>
                              <option value="KINGSTON" label="KINGSTON">KINGSTON</option>
                              <option value="PORTMORE" label="PORTMORE">PORTMORE</option>
                              <option value="MONTEGO BAY" label="MONTEGO BAY">MONTEGO BAY</option>
                              <option value="ISLANDWIDE (via TARA Courier)" label="ISLANDWIDE (via TARA Courier)">
                                ISLANDWIDE (via TARA Courier)</option>
                            </select>
                            <span class="small text-danger" *ngIf="(parish.invalid && parish.touched )">*invalid</span>
                          </li>

                          <li class="list-group-item">Delivery/Pickup Details :
                            <h5 *ngIf="customerDetailsArr.parish==='KINGSTON'">
                              - 7th - 24th December 2020<br>
                              - Monday - Friday<br>
                              - $200 JMD<br>
                              - Next day delivery available
                            </h5>

                            <h5 *ngIf="customerDetailsArr.parish==='PORTMORE'">
                              - 9th, 16th, 22nd, 23rd, 24th December 2020<br>
                              - $200 JMD<br>
                              - Order at least 2 days in advance
                            </h5>

                            <h5 *ngIf="customerDetailsArr.parish==='MONTEGO BAY'">
                              - 12th, 19th, 22nd, 23rd, 24th December 2020<br>
                              - $200 JMD<br>
                              - Order atleast 2days in advance<br>
                              - ORDER ONLY CONFIRMED WHEN PAYMENT IS RECEIVED
                            </h5>

                            <h5 *ngIf="customerDetailsArr.parish==='ISLANDWIDE (via TARA Courier)'">
                              - <span class="text-info">Machester, Portland, St.Ann, St.Elizabeth, St.Mary, St.Thomas,
                                Westmoreland, St.Catherine, St.James</span><br>
                              - Distribution Dates: 18th, 22nd, 23rd December 2020<br>
                              - Delivery VIA Tara Courier Services<br>
                              - Pick up at a tara office near you : $500 JMD<br>
                              - Door Delivery (Urban/City Areas) : $1300 JMD<br>
                              - Door Delivery (Rural Areas) : $1500 JMD<br>
                              - Door Delivery (Remote Areas) : $2000 JMD<br>
                              - Order at least 5 days in advance for this service<br>
                              - ORDERS ARE ONLY CONFIRMED WHEN PAYMENT FOR CAKE & DELIVERY IS MADE
                            </h5>
                          </li>


                          <li class="list-group-item" *ngIf="customerDetailsArr.parish==='ISLANDWIDE (via TARA Courier)'">
                            <div class="col-lg-12" >
                              <div class="form-group">
                                <input type="parish1" name="parish1" id="parish1" class="form-control"
                                  placeholder="Enter your Parish" name="parish1" #parish1="ngModel"
                                  [(ngModel)]="customerDetailsArr.parish1" required>
                                <span class="small text-danger"
                                  *ngIf="(parish1.invalid && parish1.touched )">*invalid</span>
                              </div>
                            </div>
                          </li>






                          <li class="list-group-item" *ngIf="customerDetailsArr.parish==='KINGSTON'">Choose
                            Delivery/Pickup Date
                            :
                            <select class="form-control" name="delivery_day" id="delivery_day" #delivery_day="ngModel"
                              [(ngModel)]="customerDetailsArr.delivery_day" required>
                              <option value="" label="Choose delivery/pickup date">Choose delivery/pickup date</option>
                              <option value="Monday, 7 December 2020" label="Monday, 7 December 2020">Monday, 7 December
                                2020</option>
                              <option value="Tuesday, 8 December 2020" label="Tuesday, 8 December 2020">Tuesday, 8
                                December
                                2020</option>
                              <option value="Wednesday, 9 December 2020" label="Wednesday, 9 December 2020">Wednesday, 9
                                December 2020</option>
                              <option value="Thursday, 10 December 2020" label="Thursday, 10 December 2020">Thursday, 10
                                December 2020</option>
                              <option value="Friday, 11 December 2020" label="Friday, 11 December 2020">Friday, 11
                                December
                                2020</option>
                              <option value="Monday, 14 December 2020" label="Monday, 14 December 2020">Monday, 14
                                December
                                2020</option>
                              <option value="Tuesday, 15 December 2020" label="Tuesday, 15 December 2020">Tuesday, 15
                                December 2020</option>
                              <option value="Wednesday, 16 December 2020" label="Wednesday, 16 December 2020">Wednesday,
                                16
                                December 2020</option>
                              <option value="Thursday, 17 December 2020" label="Thursday, 17 December 2020">Thursday, 17
                                December 2020</option>
                              <option value="Friday, 18 December 2020" label="Friday, 18 December 2020">Friday, 18
                                December
                                2020</option>
                              <option value="Monday, 21 December 2020" label="Monday, 21 December 2020">Monday, 21
                                December
                                2020</option>
                              <option value="Tuesday, 22 December 2020" label="Tuesday, 22 December 2020">Tuesday, 22
                                December 2020</option>
                              <option value="Wednesday, 23 December 2020" label="Wednesday, 23 December 2020">Wednesday,
                                23
                                December 2020</option>
                              <option value="Thursday, 24 December 2020" label="Thursday, 24 December 2020">Thursday, 24
                                December 2020</option>
                            </select>
                            <span class="small text-danger"
                              *ngIf="(delivery_day.invalid && delivery_day.touched )">*invalid</span>
                          </li>

                          <li class="list-group-item" *ngIf="customerDetailsArr.parish==='PORTMORE'">Delivery/Pickup
                            Date
                            :
                            <select class="form-control" name="delivery_day" id="delivery_day" #delivery_day="ngModel"
                              [(ngModel)]="customerDetailsArr.delivery_day" required>
                              <option value="" label="Choose delivery/pickup date">Choose delivery/pickup date</option>
                              <option value="Wednesday, 9 December 2020" label="Wednesday, 9 December 2020">Wednesday, 9
                                December 2020</option>
                              <option value="Tuesday, 22 December 2020" label="Tuesday, 22 December 2020">Tuesday, 22
                                December 2020</option>
                              <option value="Wednesday, 23 December 2020" label="Wednesday, 23 December 2020">Wednesday,
                                23
                                December 2020</option>
                              <option value="Thursday, 24 December 2020" label="Thursday, 24 December 2020">Thursday, 24
                                December 2020</option>
                            </select>
                            <span class="small text-danger"
                              *ngIf="(delivery_day.invalid && delivery_day.touched )">*invalid</span>
                          </li>


                          <li class="list-group-item" *ngIf="customerDetailsArr.parish==='MONTEGO BAY'">Delivery/Pickup
                            Date
                            :
                            <select class="form-control" name="delivery_day" id="delivery_day" #delivery_day="ngModel"
                              [(ngModel)]="customerDetailsArr.delivery_day" required>
                              <option value="" label="Choose delivery/pickup date">Choose delivery/pickup date</option>
                              <option value="Saturday, 12 December 2020" label="Saturday, 12 December 2020">Saturday, 12
                                December 2020</option>
                              <option value="Saturday, 19 December 2020" label="Saturday, 19   December 2020">Saturday,
                                19
                                December 2020</option>
                              <option value="Tuesday, 22 December 2020" label="Tuesday, 22 December 2020">Tuesday, 22
                                December 2020</option>
                              <option value="Wednesday, 23 December 2020" label="Wednesday, 23 December 2020">Wednesday,
                                23
                                December 2020</option>
                              <option value="Thursday, 24 December 2020" label="Thursday, 24 December 2020">Thursday, 24
                                December 2020</option>
                            </select>
                            <span class="small text-danger"
                              *ngIf="(delivery_day.invalid && delivery_day.touched )">*invalid</span>
                          </li>


                          <li class="list-group-item"
                            *ngIf="customerDetailsArr.parish==='ISLANDWIDE (via TARA Courier)'">
                            Delivery/Pickup Date
                            :
                            <select class="form-control" name="delivery_day" id="delivery_day" #delivery_day="ngModel"
                              [(ngModel)]="customerDetailsArr.delivery_day" required>
                              <option value="" label="Choose delivery/pickup date">Choose delivery/pickup date</option>
                              <option value="Friday, 18 December 2020" label="Friday, 18 December 2020">Friday, 18
                                December
                                2020</option>
                              <option value="Tuesday, 22 December 2020" label="Tuesday, 22 December 2020">Tuesday, 22
                                December 2020</option>
                              <option value="Wednesday, 23 December 2020" label="Wednesday, 23 December 2020">Wednesday,
                                23
                                December 2020</option>

                            </select>
                            <span class="small text-danger"
                              *ngIf="(delivery_day.invalid && delivery_day.touched )">*invalid</span>
                          </li>

                        </span>


                        <span *ngIf="customerDetailsArr.address2==='Trinidad'">

                          <li class="list-group-item">Select Location :
                            <select class="form-control" name="parish" id="parish" #parish="ngModel"
                              (change)="preference($event)" [(ngModel)]="customerDetailsArr.parish" required>
                              <option value="Port of Spain Delivery (Corporate area)"
                                label="Port of Spain Delivery (Corporate area)">Port of Spain Delivery (Corporate area)
                              </option>
                              <option value="West mall (Pick up)" label="West mall (Pick up)">West mall (Pick up)
                              </option>
                              <option value="Price Plaza (Pick up)" label="Price Plaza (Pick up)">Price Plaza (Pick up)
                              </option>
                              <option value="C3 San Fernando (Pick up)" label="C3 San Fernando (Pick up)">
                                C3 San Fernando (Pick up)</option>
                            </select>
                            <span class="small text-danger" *ngIf="(parish.invalid && parish.touched )">*invalid</span>
                          </li>
                          <li class="list-group-item">Delivery/Pickup Details :
                            <h5 *ngIf="customerDetailsArr.parish==='Port of Spain Delivery (Corporate area)'">
                              - 18th and 22nd December 2020<br>
                              <!-- - Delivery VIA Tara Courier Services<br>
                              - Order at least 5 days in advance for this service<br>
                              - ORDERS ARE ONLY CONFIRMED WHEN PAYMENT FOR CAKE & DELIVERY IS MADE -->
                            </h5>

                            <h5 *ngIf="customerDetailsArr.parish==='West mall (Pick up)'">
                              - 18th and 22nd December 2020<br>
                              <!-- - Delivery VIA Tara Courier Services<br>
                              - Order at least 5 days in advance for this service<br>
                              - ORDERS ARE ONLY CONFIRMED WHEN PAYMENT FOR CAKE & DELIVERY IS MADE -->
                            </h5>

                            <h5 *ngIf="customerDetailsArr.parish==='Price Plaza (Pick up)'">
                              - 19th and 23rd December 2020<br>
                              <!-- - Delivery VIA Tara Courier Services<br>
                              - Order at least 5 days in advance for this service<br>
                              - ORDERS ARE ONLY CONFIRMED WHEN PAYMENT FOR CAKE & DELIVERY IS MADE -->
                            </h5>

                            <h5 *ngIf="customerDetailsArr.parish==='C3 San Fernando (Pick up)'">
                              - 21st December 2020<br>
                              <!-- - Delivery VIA Tara Courier Services<br>
                              - Order at least 5 days in advance for this service<br>
                              - ORDERS ARE ONLY CONFIRMED WHEN PAYMENT FOR CAKE & DELIVERY IS MADE -->
                            </h5>
                          </li>


                          <!-- 
                          <li class="list-group-item">Delivery/Pickup Details :
                            <h5>

                              - Port of Spain Delivery (Corporate area) - 18th and 22nd Dec 2020<br>
                              - West mall (Pick up) - 18th and 22nd Dec 2020<br>
                              - Price Plaza (Pick up) 19th and 23rd Dec 2020<br>
                              - C3 San Fernando (Pick up) 21st Dec 2020<br>
                              - Order at least 5 days in advance for this service<br>
                              - ORDERS ARE ONLY CONFIRMED WHEN PAYMENT FOR CAKE & DELIVERY IS MADE
                            </h5>

                          </li> -->

                        </span>

















                        <li class="list-group-item">Quantity :
                          <select class="form-control" name="quantity" id="quantity" #quantity="ngModel"
                            [(ngModel)]="customerDetailsArr.quantity" required>
                            <option value="1" label="1">1</option>
                            <option value="2" label="2">2</option>
                            <option value="3" label="3">3</option>
                            <option value="4" label="4">4</option>
                            <option value="5" label="5">5</option>
                            <option value="6" label="6">6</option>
                            <option value="7" label="7">7</option>
                            <option value="8" label="8">8</option>
                            <option value="9" label="9">9</option>
                            <option value="10" label="10">10</option>
                          </select>
                          <span class="small text-danger"
                            *ngIf="(quantity.invalid && quantity.touched )">*invalid</span>
                        </li>


                        <li class="list-group-item" *ngIf="customerDetailsArr.parish!=='ISLANDWIDE (via TARA Courier)'">
                          Package Amount : <p>
                            ${{cakeDetailsArr.discount_price*(+customerDetailsArr.quantity)}} JMD /
                            ${{150*(+customerDetailsArr.quantity)}} TTD</p>
                        </li>



                        <span *ngIf="customerDetailsArr.parish!=='ISLANDWIDE (via TARA Courier)'">
                          <li class="list-group-item">Delivery Charges : <p>
                              ${{(this.storeArr.store.delivery_charges ? this.storeArr.store.delivery_charges : 0)}} JMD
                              /
                              $10 TTD
                            </p>
                          </li>

                          <li class="list-group-item">Total : <h5>

                              ${{cakeDetailsArr.discount_price*(+customerDetailsArr.quantity)+(this.storeArr.store.delivery_charges ? this.storeArr.store.delivery_charges : 0)}}
                              JMD / ${{150*(+customerDetailsArr.quantity)+10}} TTD
                            </h5>
                          </li>
                        </span>

                        <span *ngIf="customerDetailsArr.parish==='ISLANDWIDE (via TARA Courier)'">
                          <!-- <li class="list-group-item">Delivery Charges : <p>
                            ${{(this.storeArr.store.delivery_charges ? this.storeArr.store.delivery_charges : 0)}} JMD /
                            $10 TTD
                          </p>
                        </li> -->

                          <li class="list-group-item">Total : <h5>

                              ${{cakeDetailsArr.discount_price*(+customerDetailsArr.quantity)}}
                              JMD / ${{150*(+customerDetailsArr.quantity)}} TTD
                            </h5>
                          </li>
                        </span>


                      </ul>



                      <br>
                    </div>
                  </div>
                </div>
              </div>








              <div class="card">
                <div class="text-center card-body contact__msg" style="display: none">
                  <div class="col-lg-12">
                    <div class="alert alert-success " role="alert">
                      <br>
                      <h5> Your order has been mailed, You will get
                        response from <strong class="text-danger">NJAS Team</strong> shortly. Thank you
                        for shopping with us!</h5>
                      <a class="btn btn-success btn-rounded waves-effect waves-light m-b-40"
                        [routerLink]="['/home']">Back
                        to
                        home</a>
                      <br>
                    </div>
                  </div>
                </div>

                <span class="formDiv">

                  <input type="hidden" id="selectedDelivery" value="d">

                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0 text-right">
                      <button class="btn btn-link11" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        <i class="ti-id-badge"></i>
                        Enter Customer Details
                      </button>
                    </h2>
                  </div>
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">





                      <div class="row justify-content-center">



                        <div class="col-lg-12">

                          <div class="row form-row">
                            <input type="hidden" id="selectedDelivery" name="selectedDelivery" value="d">
                            <input type="hidden" name="delivery_option" id="delivery_option"
                              value="{{chosedDeliveryOption}}" />


                       



                            <div class="col-lg-12">
                              <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control"
                                  placeholder="Email Address" name="contactEmail" #contactEmail="ngModel"
                                  pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" [(ngModel)]="customerDetailsArr.contactEmail"
                                  required>

                                <span class="small text-danger"
                                  *ngIf="(contactEmail.invalid && contactEmail.touched )">*invalid</span>
                              </div>
                            </div>




                            <div class="col-lg-6">
                              <div class="form-group">
                                <input class="form-control" placeholder="Full Name" name="name" #name="ngModel"
                                  [(ngModel)]="customerDetailsArr.name" required>

                                <span class="small text-danger" *ngIf="(name.invalid && name.touched )">*invalid</span>
                              </div>
                            </div>

                            <div class="col-lg-6">
                              <div class="form-group">
                                <input type="tel" (keypress)="numberOnly($event)" class="form-control"
                                  placeholder="Contact Number" name="contactNo" #contactNo="ngModel"
                                  [(ngModel)]="customerDetailsArr.contactNo" required>

                                <span class="small text-danger"
                                  *ngIf="(contactNo.invalid && contactNo.touched )">*invalid</span>
                              </div>
                            </div>



                            <div class="col-lg-12">
                              <div class="form-group">
                                <textarea cols="30" rows="4" class="form-control" placeholder="Address" name="address1"
                                  #address1="ngModel" [(ngModel)]="customerDetailsArr.address1" required></textarea>

                                <span class="small text-danger"
                                  *ngIf="(address1.invalid && address1.touched )">*invalid</span>
                              </div>
                            </div>



                            <div class="col-lg-12">
                              <div class="form-group">
                                <select class="form-control" name="bank_option" #bank_option="ngModel"
                                  [(ngModel)]="customerDetailsArr.bank_option" required>
                                  <option value="none" label="Preferred Mode Of Payment" selected="selected">Preferred
                                    Mode Of Payment</option>
                                  <option value="{{item.key}}"
                                    *ngFor="let item of storeArr.bank_options  | keyvalue; let i = index;"
                                    label="{{item.value.name}}">
                                    {{item.value.name}}
                                  </option>

                                </select>
                                <span class="small text-danger"
                                  *ngIf="(bank_option.invalid && bank_option.touched )">*invalid</span>
                              </div>
                            </div>



                            <div class="col-lg-12">
                              <div class="form-group">
                                <textarea cols="30" rows="4" class="form-control" placeholder="Instructions"
                                  name="notes" #notes="ngModel" [(ngModel)]="customerDetailsArr.notes"></textarea>

                                <span class="small text-danger"
                                  *ngIf="(notes.invalid && notes.touched )">*invalid</span>
                              </div>
                            </div>



                            

                            <!-- <div class="col-lg-6">
                            <div class="form-group">
                              <textarea cols="30" rows="4" class="form-control" placeholder="Allergies" name="allergies"
                                #allergies="ngModel" [(ngModel)]="customerDetailsArr.allergies" required></textarea>

                              <span class="small text-danger"
                                *ngIf="(allergies.invalid && allergies.touched )">*invalid</span>
                            </div>
                          </div> -->
                          </div>

                          <!-- <div class="col-lg-12">
                                 <div class="mt-4 text-center">
                                     <button class="btn btn-main2" type="submit">Send Message <i class="ti-angle-right ml-2"></i></button>
                                 </div>
                             </div> -->

                        </div>
                      </div>



                    </div>
                  </div>

                  <br>



                  <div class="text-right col-md-12">
                    <button class="btn btn-main text-right" [disabled]="!(orderForm.form.valid)">

                      <i class="ti-shopping-cart"></i>
                      &nbsp;&nbsp;
                      SUBMIT ORDER
                      &nbsp;&nbsp;

                    </button>

                  </div>

                  <br>
                </span>
              </div>





















            </div>


          </div>
        </form>



      </div>




    </div>
  </div>
</section>