<div class="wrapper">
  <!-- Body Start -->
  <div class="gambo-Breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a
                  [routerLink]="['/my-groceries/groceries']"
                  routerLinkActive="router-link-active"
                >
                  <i class="uil uil-arrow-left"></i>
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                My Orders
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-group">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="user-dt">
            <div class="user-img">
              <img src="assets/images/avatar/img-5.jpg" alt="" />
              <div class="img-add">
                <input type="file" id="file" />
                <!-- <label for="file"><i class="uil uil-camera-plus"></i></label> -->
              </div>
            </div>
            <h4>{{ currentUser.name }}</h4>
            <p>
              {{ currentUser.email }}
              <!-- <a href="#"><i class="uil uil-edit"></i></a> -->
            </p>
            <!-- <div class="earn-points">
              <img src="assets/images/Dollar.svg" alt="" />Points :
              <span>20</span>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="left-side-tabs">
            <div class="dashboard-left-links">
              <!-- <a [routerLink]="['/user-navigation']" class="user-item"
                ><i class="uil uil-apps"></i>Overview</a
              > -->

              <a [routerLink]="['/profile']" class="user-item"
                ><i class="uil uil-user-circle"></i>My Profile</a
              >
              <a [routerLink]="['/change-password']" class="user-item"
                ><i class="uil uil uil-key-skeleton-alt"></i>Change Password</a
              >
              <a
                [routerLink]="['/my-groceries/groceries']"
                class="user-item active"
                ><i class="uil uil-box"></i>My Orders</a
              >

              <!-- <a href="dashboard_my_rewards.html" class="user-item"
                ><i class="uil uil-gift"></i>My Rewards</a
              >
              <a href="dashboard_my_wallet.html" class="user-item"
                ><i class="uil uil-wallet"></i>My Wallet</a
              >
              <a href="dashboard_my_wishlist.html" class="user-item"
                ><i class="uil uil-heart"></i>Shopping Wishlist</a
              >
              <a href="dashboard_my_addresses.html" class="user-item"
                ><i class="uil uil-location-point"></i>My Address</a
              > -->
              <a (click)="this.auth.signOut()" class="user-item"
                ><i class="uil uil-exit"></i>Logout</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-md-8">
          <div class="dashboard-right">
            <div class="row">
              <div class="col-md-12">
                <div class="main-title-tab">
                  <h4><i class="uil uil-box"></i>My Orders</h4>
                </div>
              </div>
              <div class="col-lg-12 col-md-12" *ngIf="orderDetails">
                <div class="pdpt-bg">
                  <!-- <div class="pdpt-title">
                    <h6>#{{ i + 1 }}</h6>

                    <div class="col text-right">
                      <span
                        class="badge badge-warning"
                        *ngIf="order.order.status === 'active'"
                        >{{ order.order.status | uppercase }}
                      </span>
                      <span
                        class="badge badge-info"
                        *ngIf="
                          order.order.status === 'accepted' ||
                          order.order.status === 'payment_processing' ||
                          order.order.status === 'in_progress'
                        "
                        >{{ order.order.status | uppercase }}
                      </span>
                      <span
                        class="badge badge-success"
                        *ngIf="order.order.status === 'completed'"
                        >{{ order.order.status | uppercase }}
                      </span>
                      <span
                        class="badge badge-danger"
                        *ngIf="
                          order.order.status === 'cancelled' ||
                          order.order.status === 'declined'
                        "
                        >{{ order.order.status | uppercase }}
                      </span>
                    </div>
                  </div> -->
                  <div
                    class="col text-right"
                    style="position: absolute;
                  left: -10px;
                  top: 40px;
                  font-size: 20px;"
                  >
                    <span
                      class="badge badge-warning"
                      *ngIf="orderDetails.status === 'active'"
                      >{{ orderDetails.status | uppercase }}
                    </span>
                    <span
                      class="badge badge-info"
                      *ngIf="
                        orderDetails.status === 'accepted' ||
                        orderDetails.status === 'payment_processing' ||
                        orderDetails.status === 'in_progress'
                      "
                      >{{ orderDetails.status | uppercase }}
                    </span>
                    <span
                      class="badge badge-success"
                      *ngIf="orderDetails.status === 'completed'"
                      >{{ orderDetails.status | uppercase }}
                    </span>
                    <span
                      class="badge badge-danger"
                      *ngIf="
                        orderDetails.status === 'cancelled' ||
                        orderDetails.status === 'declined'
                      "
                      >{{ orderDetails.status | uppercase }}
                    </span>
                  </div>
                  <div class="order-body10">
                    <ul class="order-dtsll">
                      <li>
                        <div
                          class="order-dt-img"
                          style="background: none; border: none; text-align: center;"
                        >
                          <img src="assets/images/logos/logo.png" alt="logo" />
                        </div>
                      </li>
                      <!-- <li>
                        <div class="order-dt47">
                          <h4>Gambo - Ludhiana</h4>
                          <p>Delivered - Gambo</p>
                          <div class="order-title">
                            2 Items
                            <span
                              data-inverted=""
                              data-tooltip="2kg broccoli, 1kg Apple"
                              data-position="top center"
                              >?</span
                            >
                          </div>
                        </div>
                      </li> -->
                    </ul>
                    <div class="orders-section">
                      <table class="table table-borderless">
                        <!-- <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                          </tr>
                        </thead> -->
                        <tbody>
                          <tr>
                            <td>Order No.</td>
                            <td>: {{ orderDetails.order_id | slice: -6 }}</td>
                          </tr>
                          <tr>
                            <td>Mode</td>
                            <td>
                              :
                              {{
                                orderDetails.selected_delivery === 'p'
                                  ? 'Pickup'
                                  : 'Delivery'
                              }}
                              <span
                                *ngIf="
                                  orderDetails.pickup_day &&
                                  orderDetails.pickup_day !== ' ' &&
                                  orderDetails.pickup_day !== '' &&
                                  orderDetails.pickup_day !== '  ' &&
                                  orderDetails.selected_delivery === 'p'
                                "
                              >
                                -
                                {{
                                  orderDetails.pickup_day
                                    ? orderDetails.pickup_day
                                    : 'N/A'
                                }}</span
                              >

                              <span
                                *ngIf="
                                  orderDetails.delivery_day &&
                                  orderDetails.delivery_day !== ' ' &&
                                  orderDetails.delivery_day !== '' &&
                                  orderDetails.delivery_day !== '  ' &&
                                  orderDetails.selected_delivery === 'd'
                                "
                              >
                                -
                                {{
                                  orderDetails.delivery_day
                                    ? orderDetails.delivery_day
                                    : 'N/A'
                                }}</span
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Date
                            </td>
                            <td>
                              : {{ orderDetails.date_created | date: 'medium' }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="orders-section">
                      <h2 style="margin-left: 10px;">Order Summary</h2>
                    </div>
                    <ul class="order-dtsll" style="padding: 10px !important;">
                      <li *ngFor="let item of orderDetails.items">
                        <table class="table table-borderless m-0">
                          <tbody>
                            <tr>
                              <td
                                style="display: flex;
                              align-items: center;"
                              >
                                <div class="order-dt-img">
                                  <img src="{{ item.images1 }}" alt="logo" />
                                </div>
                                <div class="order-dt47">
                                  <h4>{{ item.name }}</h4>
                                  <div class="order-title">
                                    Qty. {{ item.quantity }}
                                    x Sub:
                                    {{
                                      orderDetails.currency_symbol
                                        | currencySymbol
                                    }}
                                    {{ item.discount_price }}
                                  </div>
                                </div>
                              </td>
                              <td>
                                <h3 class="order-price" style="color: #f55d2c;">
                                  {{
                                    orderDetails.currency_symbol
                                      | currencySymbol
                                  }}
                                  {{ item.discount_price * item.quantity }}
                                </h3>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </li>
                      <li style="border-top: 1px solid #efefef;">
                        <table class="table table-borderless m-0">
                          <tbody>
                            <tr>
                              <td
                                style="display: flex;
                              align-items: center;"
                              >
                                <div class="order-dt47">
                                  <div class="order-title">
                                    <p>
                                      Subtotal
                                    </p>
                                    <p>
                                      {{
                                        orderDetails.currency_symbol
                                          | currencySymbol
                                      }}
                                      {{ orderDetails.total }}
                                    </p>
                                  </div>
                                </div>
                              </td>
                              <td *ngIf="orderDetails.coupon_discount_value">
                                <p>
                                  Discount
                                </p>
                                <p>
                                  {{
                                    orderDetails.currency_symbol
                                      | currencySymbol
                                  }}
                                  {{
                                    orderDetails.coupon_discount_value
                                      ? orderDetails.coupon_discount_value
                                      : 0
                                  }}
                                </p>
                              </td>
                              <td
                                *ngIf="orderDetails.selected_delivery === 'd'"
                              >
                                <p>
                                  Delivery
                                </p>
                                <p>
                                  {{
                                    orderDetails.currency_symbol
                                      | currencySymbol
                                  }}
                                  {{
                                    orderDetails.delivery_charges
                                      ? +orderDetails.delivery_charges
                                      : 0
                                  }}
                                </p>
                              </td>
                              <td
                                style="text-align: right; color: #f55d2c; vertical-align: top; width: 100px;"
                              >
                                <p style=" color: #f55d2c;">
                                  Total
                                </p>
                                <p
                                  style="font-weight: 700; color: #f55d2c; font-size: 21px;"
                                >
                                  {{
                                    orderDetails.currency_symbol
                                      | currencySymbol
                                  }}
                                  {{ orderDetails.payable }}
                                </p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </li>
                    </ul>
                    <!-- <div class="total-dt">
                      <div class="total-checkout-group">
                        <div class="cart-total-dil">
                          <h4>Order Date</h4>
                          <span>{{ order.order.date_created | date }}</span>
                        </div>
                        <div class="cart-total-dil pt-3">
                          <h4>Delivery Date</h4>
                          <span>{{
                            order.order.delivery_day &&
                            order.order.delivery_day !== 'N/A'
                              ? order.order.delivery_day
                              : 'N/A'
                          }}</span>
                        </div>
                      </div>
                      <div class="main-total-cart">
                        <h2>Total Price</h2>
                        <span>
                          {{ order.order.currency_symbol | currencySymbol }}
                          {{ order.order.payable }}
                        </span>
                      </div>
                    </div> -->
                    <!-- <div class="track-order">
                      <h4>Track Order</h4>
                      <div class="bs-wizard" style="border-bottom:0;">
                        <div class="bs-wizard-step complete">
                          <div class="text-center bs-wizard-stepnum">
                            Placed
                          </div>
                          <div class="progress">
                            <div class="progress-bar"></div>
                          </div>
                          <a href="#" class="bs-wizard-dot"></a>
                        </div>
                        <div class="bs-wizard-step complete">
                          
                          <div class="text-center bs-wizard-stepnum">
                            Packed
                          </div>
                          <div class="progress">
                            <div class="progress-bar"></div>
                          </div>
                          <a href="#" class="bs-wizard-dot"></a>
                        </div>
                        <div class="bs-wizard-step active">
                          
                          <div class="text-center bs-wizard-stepnum">
                            On the way
                          </div>
                          <div class="progress">
                            <div class="progress-bar"></div>
                          </div>
                          <a href="#" class="bs-wizard-dot"></a>
                        </div>
                        <div class="bs-wizard-step disabled">
                          <div class="text-center bs-wizard-stepnum">
                            Delivered
                          </div>
                          <div class="progress">
                            <div class="progress-bar"></div>
                          </div>
                          <a href="#" class="bs-wizard-dot"></a>
                        </div>
                      </div>
                    </div> -->
                    <!-- <div class="alert-offer">
                      <img src="assets/images/ribbon.svg" alt="" />
                      Cashback of $2 will be credit to Gambo Super Market wallet
                      6-12 hours of delivery.
                    </div> -->
                    <div class="call-bill d-block">
                      <h3>
                        Customer information:
                      </h3>
                      <table class="table table-borderless">
                        <tr>
                          <td>
                            Delivery address
                          </td>
                          <td>
                            : {{ orderDetails.name }}
                            <br />
                            &nbsp;
                            {{
                              orderDetails.selected_delivery === 'p'
                                ? 'N/A'
                                : orderDetails.address1 +
                                  ', ' +
                                  orderDetails.address2
                            }}
                            <br />
                            &nbsp;&nbsp;Tel :
                            <a
                              href="tel:+{{ orderDetails.contact_no }}"
                              class="hover-text-brand-700 hover-underline"
                              style="color: #0047c3; text-decoration: none;"
                              >{{ orderDetails.contact_no }}</a
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Shipping method
                          </td>
                          <td>
                            :
                            {{
                              (orderDetails.delivery_options
                                ? orderDetails.delivery_options.name
                                  ? orderDetails.delivery_options.name
                                  : 'Default'
                                : 'Default') +
                                '  (  ' +
                                (orderDetails.currency_symbol
                                  | currencySymbol) +
                                ' ' +
                                (orderDetails.delivery_options
                                  ? orderDetails.delivery_options.price
                                    ? +orderDetails.delivery_options.price
                                    : 0
                                  : 0) +
                                ' ) '
                            }}
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Payment method
                          </td>
                          <td>
                            :
                            {{
                              orderDetails.bank_options
                                ? orderDetails.bank_options.name
                                  ? orderDetails.bank_options.name
                                  : 'N/A'
                                : 'N/A'
                            }}
                          </td>
                        </tr>
                        <tr
                          *ngIf="
                            orderDetails.notes !== '  ' &&
                            orderDetails.notes !== ' ' &&
                            orderDetails.notes !== '  ' &&
                            orderDetails.notes
                          "
                        >
                          <td>Special Instructions</td>
                          <td>: {{ orderDetails.notes }}</td>
                        </tr>
                      </table>

                      <!-- <div class="delivery-man">
                        Delivery Boy -
                        <a href="#"><i class="uil uil-phone"></i> Call Us</a>
                      </div> -->
                      <div
                        *ngIf="orderDetails.status === 'active'"
                        class="order-bill-slip text-right"
                      >
                        <a
                          class="bill-btn5 hover-btn d-inline-block"
                          (click)="cancelOrder(id, orderDetails.store_name)"
                          >Cancel Order</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
