<div class="wrapper auth-bg">
  <div class="block contact__msg" style="display: none; margin: 100px;">
    <div class="text-center card-body">
      <div class="col-lg-12">
        <div class="alert alert-success " role="alert">
          <br />
          <h5>
            Your password is changed.
          </h5>
          <a
            class="btn btn-success btn-rounded waves-effect waves-light m-b-40"
            [routerLink]="['/signin']"
            >SIGN IN</a
          >
          <br />
        </div>
      </div>
    </div>
  </div>
  <div class="sign-inup" id="formDiv">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="sign-form">
            <div class="sign-inner">
              <!-- <div class="sign-logo" id="logo">
                <a href="index.html"><img src="images/logo.svg" alt=""/></a>
                <a [routerLink]="['/']"
                  ><img src="assets/images/logos/logo.png" alt="Logo"
                /></a>
              </div> -->
              <div
                class="error-box"
                style="padding-top: 50px;padding-bottom:50px;"
                id="load"
              >
                <div class="error-body text-center">
                  <p class="text-muted m-t-30 m-b-30">loading...</p>
                </div>
              </div>
              <div
                class="error-box"
                style="padding-top: 50px;padding-bottom:50px;"
                id="linkfail"
                style="display: none;"
              >
                <div class="error-body text-center">
                  <h1>Oops!</h1>
                  <!-- <h3 class="text-uppercase">Your email address is verified</h3> -->
                  <p class="text-muted m-t-30 m-b-30">
                    Invalid access or link expired.
                  </p>
                  <a
                    class="btn btn-success btn-rounded waves-effect waves-light m-b-40"
                    [routerLink]="['/']"
                    >HOME</a
                  >
                </div>
              </div>
              <div class="form-dt" id="linksuccess" style="display: none;">
                <div class="form-inpts checout-address-step">
                  <form
                    #changePasswordForm="ngForm"
                    (ngSubmit)="submitForm(changePasswordForm)"
                    id="formDiv"
                  >
                    <div class="form-title"><h6>Change Password</h6></div>
                    <input
                      name="id"
                      #id="ngModel"
                      [(ngModel)]="customerDetailsArr.id"
                      type="hidden"
                      value="{{ customerDetailsArr.id }}"
                    />
                    <div class="form-group pos_rel">
                      <input
                        class="form-control lgn_input"
                        type="password"
                        name="new_password"
                        id="new_password"
                        placeholder="New Password"
                        name="new_password"
                        #new_password="ngModel"
                        [(ngModel)]="customerDetailsArr.new_password"
                        required
                      />
                      <i class="uil uil-envelope lgn_icon"></i>
                      <span
                        class="small text-danger"
                        *ngIf="new_password.invalid && new_password.touched"
                        >*invalid</span
                      >
                    </div>
                    <button
                      class="login-btn hover-btn"
                      [disabled]="!changePasswordForm.form.valid"
                      type="submit"
                    >
                      SUBMIT
                    </button>
                  </form>
                </div>
                <div class="password-forgor">
                  <a
                    routerLinkActive="active"
                    [routerLink]="['/forgot-password']"
                    >Forgot Password?</a
                  >
                </div>
                <div class="signup-link">
                  <p>
                    Don't have an account?
                    <a routerLinkActive="active" [routerLink]="['/signup']"
                      >Sign Up Now</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="copyright-text text-center mt-3">
            <i class="uil uil-copyright"></i>Copyright 2020
            <b>Gambolthemes</b> . All rights reserved
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
