<div class="wrapper">
  <!-- Body Start -->
  <div class="gambo-Breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="['/']" routerLinkActive="router-link-active">
                  <i class="uil uil-arrow-left"></i>
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                My Orders
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-group">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="user-dt">
            <div class="user-img">
              <img src="assets/images/avatar/img-5.jpg" alt="" />
              <div class="img-add">
                <input type="file" id="file" />
                <!-- <label for="file"><i class="uil uil-camera-plus"></i></label> -->
              </div>
            </div>
            <h4>{{ currentUser.name }}</h4>
            <p>
              {{ currentUser.email }}
              <!-- <a href="#"><i class="uil uil-edit"></i></a> -->
            </p>
            <!-- <div class="earn-points">
              <img src="assets/images/Dollar.svg" alt="" />Points :
              <span>20</span>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="left-side-tabs">
            <div class="dashboard-left-links">
              <!-- <a [routerLink]="['/user-navigation']" class="user-item"
                ><i class="uil uil-apps"></i>Overview</a
              > -->
              <a [routerLink]="['/profile']" class="user-item"
                ><i class="uil uil-user-circle"></i>My Profile</a
              >
              <a [routerLink]="['/change-password']" class="user-item"
                ><i class="uil uil uil-key-skeleton-alt"></i>Change Password</a
              >

              <a
                [routerLink]="['/my-groceries/groceries']"
                class="user-item active"
                ><i class="uil uil-box"></i>My Orders</a
              >
              <!-- <a href="dashboard_my_rewards.html" class="user-item"
                ><i class="uil uil-gift"></i>My Rewards</a
              >
              <a href="dashboard_my_wallet.html" class="user-item"
                ><i class="uil uil-wallet"></i>My Wallet</a
              >
              <a href="dashboard_my_wishlist.html" class="user-item"
                ><i class="uil uil-heart"></i>Shopping Wishlist</a
              >
              <a href="dashboard_my_addresses.html" class="user-item"
                ><i class="uil uil-location-point"></i>My Address</a
              > -->
              <a (click)="this.auth.signOut()" class="user-item"
                ><i class="uil uil-exit"></i>Logout</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-md-8">
          <div class="dashboard-right">
            <div class="row">
              <div class="col-md-12">
                <div class="main-title-tab">
                  <h4><i class="uil uil-box"></i>My Orders</h4>
                </div>
              </div>
              <div class="col-md-12">
                <div
                  *ngIf="customerGroceriesArr.length === 0"
                  class="pdpt-bg text-center"
                  style="padding: 50px;"
                >
                  <h2>No orders to display :(</h2>
                  <div
                    class="order-bill-slip d-inline-block"
                    [routerLink]="['/']"
                  >
                    <a class="bill-btn5 hover-btn">Continue Shopping</a>
                  </div>
                </div>
              </div>
              <div
                class="col-lg-12 col-md-12"
                *ngIf="customerGroceriesArr.length"
              >
                <div
                  class="pdpt-bg"
                  *ngFor="let order of customerGroceriesArr; index as i"
                >
                  <div class="pdpt-title">
                    <h6>#{{ i + 1 }}</h6>

                    <div class="col text-right">
                      <span
                        class="badge badge-warning"
                        *ngIf="order.order.status === 'active'"
                        >{{ order.order.status | uppercase }}
                      </span>
                      <span
                        class="badge badge-info"
                        *ngIf="
                          order.order.status === 'accepted' ||
                          order.order.status === 'payment_processing' ||
                          order.order.status === 'in_progress'
                        "
                        >{{ order.order.status | uppercase }}
                      </span>
                      <span
                        class="badge badge-success"
                        *ngIf="order.order.status === 'completed'"
                        >{{ order.order.status | uppercase }}
                      </span>
                      <span
                        class="badge badge-danger"
                        *ngIf="
                          order.order.status === 'cancelled' ||
                          order.order.status === 'declined'
                        "
                        >{{ order.order.status | uppercase }}
                      </span>
                    </div>
                  </div>
                  <div class="order-body10">
                    <!-- <ul class="order-dtsll">
                      <li>
                        <div class="order-dt-img">
                          <img src="assets/images/groceries.svg" alt="" />
                        </div>
                      </li>
                      <li>
                        <div class="order-dt47">
                          <h4>Gambo - Ludhiana</h4>
                          <p>Delivered - Gambo</p>
                          <div class="order-title">
                            2 Items
                            <span
                              data-inverted=""
                              data-tooltip="2kg broccoli, 1kg Apple"
                              data-position="top center"
                              >?</span
                            >
                          </div>
                        </div>
                      </li>
                    </ul> -->
                    <div class="total-dt">
                      <div class="total-checkout-group">
                        <div class="cart-total-dil">
                          <h4>Order Date</h4>
                          <span>{{ order.order.date_created | date }}</span>
                        </div>
                        <div class="cart-total-dil pt-3">
                          <h4>Delivery Date</h4>
                          <span>{{
                            order.order.delivery_day &&
                            order.order.delivery_day !== 'N/A'
                              ? order.order.delivery_day
                              : 'N/A'
                          }}</span>
                        </div>
                      </div>
                      <div class="main-total-cart">
                        <h2>Total Price</h2>
                        <span>
                          {{ order.order.currency_symbol | currencySymbol }}
                          {{ order.order.payable }}
                        </span>
                      </div>
                    </div>
                    <!-- <div class="track-order">
                      <h4>Track Order</h4>
                      <div class="bs-wizard" style="border-bottom:0;">
                        <div class="bs-wizard-step complete">
                          <div class="text-center bs-wizard-stepnum">
                            Placed
                          </div>
                          <div class="progress">
                            <div class="progress-bar"></div>
                          </div>
                          <a href="#" class="bs-wizard-dot"></a>
                        </div>
                        <div class="bs-wizard-step complete">
                          
                          <div class="text-center bs-wizard-stepnum">
                            Packed
                          </div>
                          <div class="progress">
                            <div class="progress-bar"></div>
                          </div>
                          <a href="#" class="bs-wizard-dot"></a>
                        </div>
                        <div class="bs-wizard-step active">
                          
                          <div class="text-center bs-wizard-stepnum">
                            On the way
                          </div>
                          <div class="progress">
                            <div class="progress-bar"></div>
                          </div>
                          <a href="#" class="bs-wizard-dot"></a>
                        </div>
                        <div class="bs-wizard-step disabled">
                          <div class="text-center bs-wizard-stepnum">
                            Delivered
                          </div>
                          <div class="progress">
                            <div class="progress-bar"></div>
                          </div>
                          <a href="#" class="bs-wizard-dot"></a>
                        </div>
                      </div>
                    </div> -->
                    <!-- <div class="alert-offer">
                      <img src="assets/images/ribbon.svg" alt="" />
                      Cashback of $2 will be credit to Gambo Super Market wallet
                      6-12 hours of delivery.
                    </div> -->
                    <div class="call-bill" style="border: none;">
                      <!-- <div class="delivery-man">
                        Delivery Boy -
                        <a href="#"><i class="uil uil-phone"></i> Call Us</a>
                      </div> -->
                      <div
                        class="order-bill-slip"
                        routerLinkActive="active"
                        [routerLink]="['/order-receipt', order.id]"
                      >
                        <a class="bill-btn5 hover-btn">View Receipt</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hi -->