<div class="wrapper">
  <div class="row fadeMe app-loading" *ngIf="loading">
    <div class="logo-img ">
      <img src="./assets/img/loader.gif" alt="logo" width="250" />
    </div>
    <br />
    <!-- <h5>
         <strong style="color: green !important;">FETCHING INVENTORY</strong>
      </h5> -->
    <p style="color:green;">Please Wait...</p>
    <div class="la-ball-scale-multiple la-dark la-3x">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="gambo-Breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="['/']"
                  ><i class="uil uil-arrow-left"></i>Back</a
                >
              </li>
              <li class="breadcrumb-item" aria-current="page">
                Checkout
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="storageService.noProducts$">
    <div
      style="padding: 10px;
  text-align: center;
  margin-top: 5%;"
    >
      <h2>Your cart is empty</h2>
      <div class="checkout-cart" style="display: inherit;">
        <a class="cart-btn hover-btn" [routerLink]="['/']">Continue Shopping</a>
      </div>
    </div>
  </div>
  <div
    class="all-product-grid"
    *ngIf="storeData.store && !storageService.noProducts$"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-7">
          <div id="checkout_wizard" class="checkout accordion left-chck145">
            <!-- <div class="checkout-step">
              <div class="checkout-card" id="headingOne">
                <span class="checkout-step-number">1</span>
                <h4 class="checkout-step-title">
                  <button class="wizard-btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Phone Number Verification</button>
                </h4>
              </div>
              <div id="collapseOne" class="collapse in show" data-parent="#checkout_wizard">
                <div class="checkout-step-body">
                  <p>We need your phone number so we can inform you about any delay or problem.</p>
                  <p class="phn145">4 digits code send your phone <span>+918437176189</span><a class="edit-no-btn hover-btn" data-toggle="collapse" href="#edit-number">Edit</a></p>
                  <div class="collapse" id="edit-number">
                    <div class="row">
                      <div class="col-lg-8">
                        <div class="checkout-login">
                          <form>
                            <div class="login-phone">
                              <input type="text" class="form-control" placeholder="Phone Number">
                            </div>
                            <a class="chck-btn hover-btn" role="button" data-toggle="collapse" href="#otp-verifaction" >Send Code</a>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="otp-verifaction">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group mb-0">
                          <label class="control-label">Enter Code</label>
                          <ul class="code-alrt-inputs">
                            <li>
                              <input id="code[1]" name="number" type="text" placeholder="" class="form-control input-md" required="">
                            </li>
                            <li>
                              <input id="code[2]" name="number" type="text" placeholder="" class="form-control input-md" required="">
                            </li>
                            <li>
                              <input id="code[3]" name="number" type="text" placeholder="" class="form-control input-md" required="">
                            </li>
                            <li>
                              <input id="code[4]" name="number" type="text" placeholder="" class="form-control input-md" required="">
                            </li>
                            <li>
                              <a class="collapsed chck-btn hover-btn" role="button" data-toggle="collapse" data-parent="#checkout_wizard" href="#collapseOne">Next</a>
                            </li>
                          </ul>
                          <a href="#" class="resend-link">Resend Code</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="checkout-step">
              <div class="checkout-card" id="headingOne">
                <span class="checkout-step-number">1</span>
                <h4 class="checkout-step-title">
                  <button
                    class="wizard-btn collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    aria-expanded="false"
                    aria-controls="collapseOne"
                  >
                    Customer Details
                  </button>
                </h4>
              </div>
              <div
                id="collapseOne"
                class="collapse in show"
                aria-labelledby="headingTwo"
                data-parent="#checkout_wizard"
              >
                <div class="checkout-step-body">
                  <div class="checout-address-step">
                    <div class="row">
                      <div class="col-lg-12">
                        <form
                          #orderForm="ngForm"
                          id="form1"
                          name="form1"
                          method="post"
                        >
                          <!-- Multiple Radios (inline) -->
                          <!-- <div class="form-group">
                            <div class="product-radio">
                              <ul class="product-now">
                                <li>
                                  <input type="radio" id="ad1" name="address1" checked>
                                  <label for="ad1">Home</label>
                                </li>
                                <li>
                                  <input type="radio" id="ad2" name="address1">
                                  <label for="ad2">Office</label>
                                </li>
                                <li>
                                  <input type="radio" id="ad3" name="address1">
                                  <label for="ad3">Other</label>
                                </li>
                              </ul>
                            </div>
                          </div> -->
                          <div class="address-fieldset">
                            <div class="row">
                              <div class="col-lg-12 col-md-12">
                                <div
                                  class="form-group"
                                  *ngIf="
                                    storeData.delivery_options.length !== 0
                                  "
                                >
                                  <label class="control-label">
                                    Delivery Location
                                  </label>
                                  <select
                                    class="form-control input-md"
                                    id="delivery_option"
                                    name="delivery_option"
                                    (change)="deliveryOption($event)"
                                    required
                                  >
                                    <option
                                      value="none"
                                      label="Choose delivery location"
                                      selected="selected"
                                    >
                                      Choose delivery location
                                    </option>
                                    <option
                                      value="{{ item.key }}"
                                      *ngFor="
                                        let item of storeData.delivery_options
                                          | keyvalue;
                                        let i = index
                                      "
                                      label="{{ item.value.name }} - {{
                                        this.storeData.store.currency_symbol
                                          | currencySymbol
                                      }} {{ item.value.price }}"
                                    >
                                      {{ item.value.name }} -
                                      {{
                                        this.storeData.store.currency_symbol
                                          | currencySymbol
                                      }}
                                      {{ item.value.price }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                  <input
                                    type="hidden"
                                    id="selectedDelivery"
                                    value="d"
                                  />
                                  <input
                                    type="hidden"
                                    name="delivery_option"
                                    id="delivery_option"
                                    value="{{ chosedDeliveryOption }}"
                                  />

                                  <label class="control-label"
                                    >Preferred mode of payment</label
                                  >
                                  <select
                                    class="form-control"
                                    id="bank_option"
                                    name="bank_option"
                                    required
                                  >
                                    <option
                                      value="none"
                                      label="Choose preferred mode of payment"
                                      selected="selected"
                                    >
                                      Choose preferred mode of payment
                                    </option>
                                    <option
                                      value="{{ item.key }}"
                                      *ngFor="
                                        let item of storeData.bank_options
                                          | keyvalue;
                                        let i = index
                                      "
                                    >
                                      {{ item.value.name }}
                                    </option>
                                  </select>
                                </div>
                              </div>

                              <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                  <label class="control-label">Name*</label>
                                  <input
                                    type="text"
                                    id="name"
                                    name="name"
                                    class=" form-control input-md"
                                    [(ngModel)]="
                                      '' || addCustomerDetails[0].name
                                    "
                                    #name="ngModel"
                                    placeholder="Your full name"
                                    required
                                  />
                                  <span
                                    class="small text-danger"
                                    *ngIf="name.invalid && name.touched"
                                    >Enter Full Name</span
                                  >
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                  <label class="control-label"
                                    >Email Address*</label
                                  >
                                  <input
                                    type="text"
                                    placeholder="Email address"
                                    class="form-control input-md"
                                    id="contactEmail"
                                    name="email"
                                    pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"
                                    #email="ngModel"
                                    [(ngModel)]="
                                      '' || addCustomerDetails[0].contactEmail
                                    "
                                    required
                                  />
                                  <span
                                    class="small text-danger"
                                    *ngIf="email.invalid && email.touched"
                                    >Enter Valid Email Address</span
                                  >
                                </div>
                              </div>
                              <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                  <label class="control-label"
                                    >Contact number*</label
                                  >
                                  <input
                                    type="tel"
                                    (keypress)="numberOnly($event)"
                                    placeholder="Your contact number"
                                    id="contactNo"
                                    name="contact_no"
                                    [(ngModel)]="
                                      '' || addCustomerDetails[0].contactNo
                                    "
                                    #mobile="ngModel"
                                    required
                                    class="form-control input-md"
                                  />
                                  <span
                                    class="small text-danger"
                                    *ngIf="mobile.invalid && mobile.touched"
                                    >Enter Valid Contact Number</span
                                  >
                                </div>
                              </div>
                              <!-- <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                  <label class="control-label">Delivery Address*</label>
                                  <p class="text-info"><i>“Address where the Groceries will be delivered to. If you will be at
                                    2 or more different
                                    addresses throughout the week, please provide additional addresses and days for
                                    delivery
                                    here.”</i></p>

                                  <div class="col-lg-12 col-md-12">
                                   
                                    <div #gmap style="width:100%;height:450px">

                                      <h3 class="text-center">Fetching your location...</h3>

                                    </div>
                                  </div>

                                </div>
                              </div> -->

                              <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                  <label class="control-label"
                                    >Delivery Address*</label
                                  >

                                  <AutocompleteComponent
                                    (setAddress)="getAddress($event)"
                                    adressType="geocode"
                                  >
                                  </AutocompleteComponent>
                                  <input
                                    class="form-control input-md"
                                    name="address1"
                                    [(ngModel)]="
                                      '' || addCustomerDetails[0].address1
                                    "
                                    placeholder="Enter Your door no. & locality"
                                    type="text"
                                    #address1
                                  />
                                  <!-- <textarea class="form-control input-md" id="address1" name="address1"
                                    placeholder="Enter Your door no. & locality" style="resize: none;" [(ngModel)]="
                                    '' || addCustomerDetails[0].address1
                                  " #address1="ngModel" required>{{
                                    addCustomerDetails[0].address1
                                      ? addCustomerDetails[0].address1 &&
                                        addCustomerDetails[0].address1 !== ' '
                                        ? addCustomerDetails[0].address1
                                        : ''
                                      : ''
                                  }}</textarea> -->
                                  <span
                                    class="small text-danger"
                                    *ngIf="address1.invalid && address1.touched"
                                    >Enter Address</span
                                  >
                                </div>
                              </div>

                              <!-- <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                  <label class="control-label">City*</label>
                                  <select class="form-control input-md" [value]="
                                      addCustomerDetails[0].address2
                                        ? addCustomerDetails[0].address2
                                        : 'none'
                                    " id="address2" name="address2">
                                    <option value="none" label="Choose city" selected="selected">
                                      Choose city
                                    </option>
                                    <option value="Kingston" label="Kingston">
                                      Kingston
                                    </option>
                                    <option value="Portmore" label="Portmore">
                                      Portmore
                                    </option>
                                  </select>
                                </div>
                              </div> -->

                              <div class="col-lg-12 col-md-12">
                                <div
                                  class="form-group"
                                  *ngIf="this.storeName !== 'food'"
                                >
                                  <div style="width: 100%;">
                                    <label class="control-label"
                                      >Preferred Delivery Date*</label
                                    >
                                    <!-- [selectFilter]="selectFilter" -->
                                    <form>
                                      <div
                                        class="input-group"
                                        (click)="dp.toggleCalendar()"
                                      >
                                        <input
                                          class="form-control input-md"
                                          style="float:none; background: none;"
                                          placeholder="Select a date"
                                          ngx-mydatepicker
                                          name="mydate"
                                          readonly
                                          [(ngModel)]="model"
                                          [options]="myOptions"
                                          #dp="ngx-mydatepicker"
                                          (dateChanged)="onChangeDay($event)"
                                        />

                                        <span
                                          class="input-group-btn"
                                          style="background: #408858;"
                                        >
                                          <button
                                            type="button"
                                            class="btn btn-default"
                                            (click)="dp.toggleCalendar()"
                                          >
                                            <svg
                                              xmlns="http://www.w3.org/2000/svg"
                                              width="20"
                                              height="20"
                                              fill="white"
                                              class="bi bi-calendar4-week"
                                              viewBox="0 0 16 16"
                                            >
                                              <path
                                                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z"
                                              />
                                              <path
                                                d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-2 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"
                                              />
                                            </svg>
                                          </button>
                                        </span>
                                      </div>
                                    </form>

                                    <!-- <dl-date-time-picker
                                      startView="day"
                                      maxView="day"
                                      minView="day"
                                      minuteStep="1"
                                      name="delivery_day"
                                      [(ngModel)]="deldate"
                                      (click)="onChangeDay($event)"
                                    >
                                    </dl-date-time-picker> -->
                                  </div>
                                  <input
                                    type="hidden"
                                    id="delivery_day"
                                    value="29-12-2020"
                                    name="delivery_day"
                                    class="form-control"
                                  />
                                  <div class="col-md-12">
                                    <small
                                      class="ion-text-center form-text text-danger text-center"
                                      >Same-Day delivery will not be available,
                                      <br />Kindly choose any later day from the
                                      order day.</small
                                    >
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-12 col-md-12">
                                <div
                                  class="form-group"
                                  *ngIf="this.storeName === 'food'"
                                >
                                  <div style="width: 100%;">
                                    <label class="control-label">
                                      Preferred Delivery Date<span
                                        class="small text-danger"
                                        >*</span
                                      >
                                    </label>
                                    <!-- [selectFilter]="selectFilter" -->
                                    <form>
                                      <div
                                        class="input-group"
                                        (click)="dp.toggleCalendar()"
                                      >
                                        <input
                                          class="form-control input-md"
                                          style="float:none; background: none;"
                                          placeholder="Select a date"
                                          ngx-mydatepicker
                                          name="mydate"
                                          readonly
                                          [(ngModel)]="model"
                                          [options]="myOptions"
                                          #dp="ngx-mydatepicker"
                                          (dateChanged)="onChangeDay($event)"
                                        />

                                        <span
                                          class="input-group-btn"
                                          style="background: #408858;"
                                        >
                                          <button
                                            type="button"
                                            class="btn btn-default"
                                            (click)="dp.toggleCalendar()"
                                          >
                                            <svg
                                              xmlns="http://www.w3.org/2000/svg"
                                              width="20"
                                              height="20"
                                              fill="white"
                                              class="bi bi-calendar4-week"
                                              viewBox="0 0 16 16"
                                            >
                                              <path
                                                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z"
                                              />
                                              <path
                                                d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-2 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"
                                              />
                                            </svg>
                                          </button>
                                        </span>
                                      </div>
                                    </form>
                                  </div>
                                  <input
                                    type="hidden"
                                    id="delivery_day"
                                    value="29-12-2020"
                                    name="delivery_day"
                                    class="form-control"
                                  />
                                  <!-- <div class="col-md-12">
                                  <small class="ion-text-center form-text text-danger text-center">Delivery will be
                                    available only for same day.</small>
                                </div> -->
                                </div>
                              </div>
                              <div class="col-lg-12 col-md-12">
                                <div
                                  class="form-group"
                                  *ngIf="this.storeName === 'food'"
                                >
                                  <label class="control-label"
                                    >Delivery Time*</label
                                  >
                                  <select
                                    class="form-control input-md"
                                    value="11:00 AM - 1:30 PM"
                                    id="delivery_time"
                                    name="delivery_time"
                                  >
                                    <option
                                      value="11:00 AM - 1:30 PM"
                                      label="11:00 AM - 1:30 PM"
                                      selected="selected"
                                    >
                                      11:00 AM - 1:30 PM
                                    </option>
                                  </select>
                                </div>
                              </div>

                              <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                  <label class="control-label"
                                    >Instructions or Preference
                                    (optional)</label
                                  >
                                  <textarea
                                    class="form-control input-md"
                                    id="notes"
                                    name="notes"
                                    style="resize: none;"
                                    >{{
                                      addCustomerDetails.length
                                        ? addCustomerDetails[0].notes
                                        : ''
                                    }}</textarea
                                  >
                                  <small
                                    id="emailHelp1"
                                    class="form-text text-muted"
                                    >We'll never share your details with anyone
                                    else.</small
                                  >
                                </div>
                              </div>
                              <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                  <div class="address-btns">
                                    <a
                                      (click)="goToCreateOrderOptions()"
                                      class="next-btn16 hover-btn"
                                      >Place Order</a
                                    >

                                    <!-- <a
                                      class="collapsed ml-auto next-btn16 hover-btn"
                                      role="button"
                                      data-toggle="collapse"
                                      data-parent="#checkout_wizard"
                                      href="#collapseFour"
                                    >
                                      Next
                                    </a> -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="checkout-step">
              <div class="checkout-card" id="headingThree">
                <span class="checkout-step-number">3</span>
                <h4 class="checkout-step-title">
                  <button class="wizard-btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Delivery Time & Date </button>
                </h4>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#checkout_wizard">
                <div class="checkout-step-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label">Select Date and Time*</label>
                        <div class="date-slider-group">
                          <div class="owl-carousel date-slider owl-theme">
                            <div class="item">
                              <div class="date-now">
                                <input type="radio" id="dd1" name="address1" checked="">
                                <label for="dd1">Today</label>
                              </div>
                            </div>
                            <div class="item">
                              <div class="date-now">
                                <input type="radio" id="dd2" name="address1">
                                <label for="dd2">Tomorrow</label>
                              </div>
                            </div>
                            <div class="item">
                              <div class="date-now">
                                <input type="radio" id="dd3" name="address1">
                                <label for="dd3">10 May 2020</label>
                              </div>
                            </div>
                            <div class="item">
                              <div class="date-now">
                                <input type="radio" id="dd4" name="address1">
                                <label for="dd4">11 May 2020</label>
                              </div>
                            </div>
                            <div class="item">
                              <div class="date-now">
                                <input type="radio" id="dd5" name="address1">
                                <label for="dd5">12 May 2020</label>
                              </div>
                            </div>
                            <div class="item">
                              <div class="date-now">
                                <input type="radio" id="dd6" name="address1">
                                <label for="dd6">13 May 2020</label>
                              </div>
                            </div>
                            <div class="item">
                              <div class="date-now">
                                <input type="radio" id="dd7" name="address1">
                                <label for="dd7">14 May 2020</label>
                              </div>
                            </div>
                            <div class="item">
                              <div class="date-now">
                                <input type="radio" id="dd8" name="address1">
                                <label for="dd8">15 May 2020</label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="time-radio">
                          <div class="ui form">
                            <div class="grouped fields">
                              <div class="field">
                                <div class="ui radio checkbox chck-rdio">
                                  <input type="radio" name="fruit" checked="" tabindex="0" class="hidden">
                                  <label>8.00AM - 10.00AM</label>
                                </div>
                              </div>
                              <div class="field">
                                <div class="ui radio checkbox chck-rdio">
                                  <input type="radio" name="fruit" tabindex="0" class="hidden">
                                  <label>10.00AM - 12.00PM</label>
                                </div>
                              </div>
                              <div class="field">
                                <div class="ui radio checkbox chck-rdio">
                                  <input type="radio" name="fruit" tabindex="0" class="hidden">
                                  <label>12.00PM - 2.00PM</label>
                                </div>
                              </div>
                              <div class="field">
                                <div class="ui radio checkbox chck-rdio">
                                  <input type="radio" name="fruit" tabindex="0" class="hidden">
                                  <label>2.00PM - 4.00PM</label>
                                </div>
                              </div>
                              <div class="field">
                                <div class="ui radio checkbox chck-rdio">
                                  <input type="radio" name="fruit" tabindex="0" class="hidden">
                                  <label>4.00PM - 6.00PM</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="collapsed next-btn16 hover-btn" role="button" data-toggle="collapse"  href="#collapseFour"> Proccess to payment </a>
                </div>
              </div>
            </div> -->
            <!-- <div class="checkout-step">
              <div class="checkout-card" id="headingFour">
                <span class="checkout-step-number">2</span>
                <h4 class="checkout-step-title">
                  <button
                    class="wizard-btn collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseFour"
                    aria-expanded="false"
                    aria-controls="collapseFour"
                  >
                    Payment
                  </button>
                </h4>
              </div>
              <div
                id="collapseFour"
                class="collapse"
                aria-labelledby="headingFour"
                data-parent="#checkout_wizard"
              >
                <div class="checkout-step-body">
                  <div class="payment_method-checkout">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="rpt100">
                          <ul class="radio--group-inline-container_1">
                            <li>
                              <div class="radio-item_1">
                                <input
                                  id="cashondelivery1"
                                  value="cashondelivery"
                                  name="paymentmethod"
                                  type="radio"
                                  data-minimum="50.0"
                                />
                                <label
                                  for="cashondelivery1"
                                  class="radio-label_1"
                                  >Cash on Delivery</label
                                >
                              </div>
                            </li>
                            <li>
                              <div class="radio-item_1">
                                <input
                                  id="card1"
                                  value="card"
                                  name="paymentmethod"
                                  type="radio"
                                  data-minimum="50.0"
                                />
                                <label for="card1" class="radio-label_1"
                                  >Credit / Debit Card</label
                                >
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div
                          class="form-group return-departure-dts"
                          data-method="cashondelivery"
                        >
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="pymnt_title">
                                <h4>Cash on Delivery</h4>
                                <p>
                                  Cash on Delivery will not be available if your
                                  order value exceeds $10.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="form-group return-departure-dts"
                          data-method="card"
                        >
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="pymnt_title mb-4">
                                <h4>Credit / Debit Card</h4>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group mt-1">
                                <label class="control-label"
                                  >Holder Name*</label
                                >
                                <div class="ui search focus">
                                  <div class="ui left icon input swdh11 swdh19">
                                    <input
                                      class="prompt srch_explore"
                                      type="text"
                                      name="holdername"
                                      value=""
                                      id="holder[name]"
                                      required=""
                                      maxlength="64"
                                      placeholder="Holder Name"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group mt-1">
                                <label class="control-label"
                                  >Card Number*</label
                                >
                                <div class="ui search focus">
                                  <div class="ui left icon input swdh11 swdh19">
                                    <input
                                      class="prompt srch_explore"
                                      type="text"
                                      name="cardnumber"
                                      value=""
                                      id="card[number]"
                                      required=""
                                      maxlength="64"
                                      placeholder="Card Number"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-4">
                              <div class="form-group mt-1">
                                <label class="control-label"
                                  >Expiration Month*</label
                                >
                                <select
                                  class="ui fluid search dropdown form-dropdown"
                                  name="card[expire-month]"
                                >
                                  <option value="">Month</option>
                                  <option value="1">January</option>
                                  <option value="2">February</option>
                                  <option value="3">March</option>
                                  <option value="4">April</option>
                                  <option value="5">May</option>
                                  <option value="6">June</option>
                                  <option value="7">July</option>
                                  <option value="8">August</option>
                                  <option value="9">September</option>
                                  <option value="10">October</option>
                                  <option value="11">November</option>
                                  <option value="12">December</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-lg-4">
                              <div class="form-group mt-1">
                                <label class="control-label"
                                  >Expiration Year*</label
                                >
                                <div class="ui search focus">
                                  <div class="ui left icon input swdh11 swdh19">
                                    <input
                                      class="prompt srch_explore"
                                      type="text"
                                      name="card[expire-year]"
                                      maxlength="4"
                                      placeholder="Year"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-4">
                              <div class="form-group mt-1">
                                <label class="control-label">CVV*</label>
                                <div class="ui search focus">
                                  <div class="ui left icon input swdh11 swdh19">
                                    <input
                                      class="prompt srch_explore"
                                      name="card[cvc]"
                                      maxlength="3"
                                      placeholder="CVV"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <a href="#" class="next-btn16 hover-btn">Place Order</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="col-lg-4 col-md-5">
          <div class="loader-section" *ngIf="storageService.loadingItems$">
            <div class="sk-chase">
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
            </div>
            <div style="margin-left: 10px;">
              <h5>Please Wait...</h5>
            </div>
          </div>
          <div class="pdpt-bg mt-0" *ngIf="!storageService.loadingItems$">
            <div class="pdpt-title">
              <h4 style="border: none;">Order Summary</h4>
            </div>
            <div class="right-cart-dt-body">
              <div
                class="cart-item border_radius"
                *ngFor="let item of this.storageService.cart$; let i = index"
              >
                <div class="cart-product-img">
                  <img [src]="item.images1" alt="product" />
                  <!-- <span
                      class="offer-badge"
                      *ngIf="item.value.best_choice === true"
                      >Best Choice</span
                    >
                    <span class="offer-badge" *ngIf="item.value.grade_a"
                      >Grade A</span
                    >
                    <span
                      class="offer-badge"
                      *ngIf="item.value.out_of_stock"
                      >Out of Stock</span
                    > -->
                </div>
                <div class="cart-text">
                  <h4>{{ item.name }}</h4>
                  <div class="cart-item-price">
                    <span *ngIf="item.price !== '0'"
                      >{{
                        this.storeData.store.currency_symbol | currencySymbol
                      }}
                      {{ item.price }}</span
                    >
                    {{ this.storeData.store.currency_symbol | currencySymbol }}
                    {{ item.discount_price }}
                  </div>
                  <button
                    type="button"
                    class="cart-close-btn"
                    (click)="removeProductCOF(item, i)"
                  >
                    <i class="uil uil-multiply"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="total-checkout-group">
              <div class="cart-total-dil">
                <h4>Sub total</h4>
                <span
                  >{{ this.storeData.store.currency_symbol | currencySymbol }}
                  {{ this.storageService.cartTotal$.toFixed(2) }}</span
                >
              </div>
              <div class="cart-total-dil" *ngIf="appliedCouponDetails">
                <h4>Discount</h4>
                <span>
                  -{{ this.storeData.store.currency_symbol | currencySymbol }}
                  {{
                    (
                      (this.storageService.cartTotal$ *
                        appliedCouponDetails.discount_percentage) /
                      100
                    ).toFixed(2)
                  }}</span
                >
              </div>

              <div
                class="cart-total-dil pt-3"
                *ngIf="
                  storeData.store.delivery_charges &&
                  (storeData.store.order_mode === 'delivery' ||
                    storeData.store.order_mode === 'all')
                "
              >
                <h4>Delivery Charges</h4>
                <span *ngIf="!chosedDeliveryOption">
                  {{ this.storeData.store.currency_symbol | currencySymbol }}
                  {{
                    (this.storeData.store.delivery_charges
                      ? +this.storeData.store.delivery_charges
                      : 0
                    ).toFixed(2)
                  }}</span
                >
                <span *ngIf="chosedDeliveryOption">
                  {{ this.storeData.store.currency_symbol | currencySymbol }}
                  {{ this.chosedDeliveryOption.price }}</span
                >
              </div>
            </div>
            <!-- <div class="cart-total-dil saving-total ">
              <h4>Total Saving</h4>
              <span>$3</span>
            </div> -->
            <div
              class="main-total-cart"
              *ngIf="
                storeData.store.order_mode !== 'delivery' &&
                storeData.store.order_mode !== 'all'
              "
            >
              <h2>Total</h2>
              <span
                >{{ this.storeData.store.currency_symbol | currencySymbol
                }}{{
                  (
                    this.storageService.cartTotal$ -
                    (this.storageService.cartTotal$ *
                      appliedCouponDetails.discount_percentage) /
                      100 +
                    this.storeData.store.delivery_charges
                  ).toFixed(2)
                }}</span
              >
            </div>

            <div
              class="main-total-cart"
              *ngIf="
                storeData.store.order_mode === 'delivery' ||
                storeData.store.order_mode === 'all'
              "
            >
              <h2>Total</h2>
              <span
                >{{ this.storeData.store.currency_symbol | currencySymbol
                }}{{
                  (
                    this.storageService.cartTotal$ +
                    (this.storeData.store.delivery_charges
                      ? this.storeData.store.delivery_charges
                      : 0) -
                    (appliedCouponDetails
                      ? (this.storageService.cartTotal$ *
                          appliedCouponDetails.discount_percentage) /
                        100
                      : 0)
                  ).toFixed(2)
                }}</span
              >
            </div>
            <div class="payment-secure">
              <i class="uil uil-padlock"></i>Secure checkout
            </div>
          </div>
          <!-- <a href="#" class="promo-link45">Have a promocode?</a> -->
          <div
            class="checkout-safety-alerts"
            *ngIf="!storageService.loadingItems$"
          >
            <p><i class="uil uil-sync"></i>100% Replacement Guarantee</p>
            <p><i class="uil uil-check-square"></i>100% Genuine Products</p>
            <!-- <p><i class="uil uil-shield-check"></i>Secure Payments</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
