<section class="body-section">
  <div class="row fadeMe app-loading" *ngIf="loading">
    <div class="logo-img ">
      <img src="./assets/img/loader.gif" alt="logo" width="250" />
    </div>
    <br />
    <!-- <h5>
         <strong style="color: green !important;">FETCHING INVENTORY</strong>
      </h5> -->
    <p style="color:green;">Fetching Inventory...</p>
    <div class="la-ball-scale-multiple la-dark la-3x">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="wrapper">
    <!-- Offers Start -->

    <div class="main-banner-slider" *ngIf="storeData.sub_categories">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="owl-carousel offers-banner owl-theme">
              <div
                class="item"
                *ngFor="let slideItem of storeData.slides | keyvalue"
              >
                <div class="offer-item">
                  <div class="offer-item-img">
                    <div class="gambo-overlay"></div>
                    <img [src]="slideItem.value.image" alt="Slide" />
                  </div>
                  <div class="offer-text-dt">
                    <!-- <div class="offer-top-text-banner">
                      <p>6% Off</p>
                      <div class="top-text-1">Buy More & Save More</div>
                      <span>Fresh Vegetables</span>
                    </div> -->
                    <!-- <a href="#" class="Offer-shop-btn hover-btn">Shop Now</a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Offers End -->
    <!-- Categories Start -->
    <div class="section145" *ngIf="storeData.sub_categories">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="main-title-tt">
              <div class="main-title-left">
                <span>Shop By</span>
                <h2>Categories</h2>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-carousel cate-slider owl-theme documentation">
              <!-- (click)="changeCategory('ALL')" -->
              <div (click)="gotoSpeficCategory('ALL')" class="item">
                <div class="category-item">
                  <div class="cate-img">
                    <img
                      width="55px"
                      height="55px"
                      alt="category"
                      src="assets/images/logos/logo.png"
                      alt=""
                    />
                  </div>
                  <h4>ALL</h4>
                </div>
              </div>
              <!-- (click)="changeCategory(category.key)" -->
              <div
                (click)="gotoSpeficCategory(category.key)"
                *ngFor="
                  let category of storeData.sub_categories | keyvalue;
                  let i = index
                "
                class="item"
              >
                <div class="category-item">
                  <div class="cate-img">
                    <img
                      width="55px"
                      height="55px"
                      alt="category"
                      [src]="category.value.image"
                      alt=""
                    />
                  </div>
                  <h4>{{ category.value.name }}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Categories End -->
    <!-- Featured Products Start -->
    <div *ngIf="storeData.sub_categories">
      <div
        class="section145"
        *ngFor="
          let category of storeData.sub_categories | keyvalue;
          let i = index
        "
      >
        <section
          id="{{ category.key }}"
          *ngIf="
            !this.changeCategory(category.key) &&
            this.storageService.searchSelectedCategoryProducts.length !== 0
          "
        >
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="main-title-tt">
                  <div class="main-title-left">
                    <span>For You</span>
                    <h2>{{ category.value.name }}</h2>
                  </div>
                  <a
                    [routerLink]="['/products/' + category.key]"
                    routerLinkActive="router-link-active"
                    class="see-more-btn"
                    >See All</a
                  >
                </div>
              </div>
              <div class="col-md-12">
                <div class="owl-carousel featured-slider owl-theme">
                  <!-- [class.categoryShowHide]="
                    category.value.id !== product.value.sub_category_id
                  " -->
                  <ng-container
                    *ngFor="
                      let product of this.storageService
                        .searchSelectedCategoryProducts | keyvalue
                    "
                  >
                    <div
                      *ngIf="
                        category.value.id === product.value.sub_category_id
                      "
                    >
                      <div class="item">
                        <div class="product-item">
                          <a class="product-img">
                            <img
                              defaultImage="assets/images/loaders/loader.gif"
                              [lazyLoad]="product.value.images1"
                              [useSrcset]="true"
                              class="prod-image"
                              alt=""
                            />
                            <div class="product-absolute-options">
                              <span
                                class="offer-badge-1"
                                *ngIf="product.value.best_choice === true"
                                >Best Choice</span
                              >
                              <span
                                class="offer-badge-1"
                                *ngIf="product.value.grade_a"
                                >Grade A</span
                              >
                              <span
                                class="offer-badge-1"
                                *ngIf="product.value.out_of_stock"
                                >Out of Stock</span
                              >

                              <!-- <span class="like-icon" title="wishlist"></span> -->
                            </div>
                          </a>

                          <div class="product-text-dt">
                            <p>Available<span>(In Stock)</span></p>
                            <h4>{{ product.value.name }}</h4>
                            <div class="product-price">
                              <span *ngIf="product.value.price !== '0'"
                                >{{
                                  this.storeData.store.currency_symbol
                                    | currencySymbol
                                }}
                                {{ product.value.price }}</span
                              >
                              {{
                                this.storeData.store.currency_symbol
                                  | currencySymbol
                              }}
                              {{ product.value.discount_price }}
                            </div>
                            <div class="cart-btn-section">
                              <div
                                class="add-to-cart"
                                *ngIf="
                                  product.value.discount_price !== '0' &&
                                  !checkInCart(product.value) &&
                                  product.value.sub_category_id
                                "
                                (click)="addToCartCOF(product.value)"
                              >
                                <i class="uil uil-shopping-cart-alt"></i> Add to
                                Cart
                              </div>

                              <div
                                class="qty-cart"
                                *ngIf="
                                  product.value.discount_price !== '0' &&
                                  checkInCart(product.value) &&
                                  product.value.sub_category_id
                                "
                              >
                                <div class="quantity buttons_added">
                                  <input
                                    type="button"
                                    value="-"
                                    class="minus minus-btn"
                                    (click)="
                                      minusQuantityCOF(product.value, $event)
                                    "
                                  />
                                  <span
                                    *ngFor="let item of storageService.cart$"
                                  >
                                    <span
                                      *ngIf="item.id === product.value.id"
                                      style="margin: 10px;"
                                    >
                                      {{ item.quantity }}
                                    </span>
                                  </span>
                                  <input
                                    type="button"
                                    value="+"
                                    class="plus plus-btn"
                                    (click)="addToCartCOF(product.value)"
                                  />
                                </div>
                              </div>
                              <!-- <span class="cart-icon"
                          ><i class="uil uil-shopping-cart-alt"></i
                        ></span> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <section class="meals-section" id="meals">
      <div class="wrapper">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-12 meals-img-part p-0">
              <a href="https://notjusasalad.com/meals" target="_blank">
                <img src="assets/images/blog/img-8.jpeg" alt="Img" />
              </a>
            </div>
            <div class="col-lg-6 col-md-12 meals-content-part p-0">
              <div class="p-4">
                <h1>Meals</h1>
                <p class="desc mt-4 mb-4">
                  Prepared Fresh and Delivered to You Daily. The Cleanest,
                  Tastiest and Most Diverse Healthy Eating Experience!
                </p>
                <div
                  style="display: flex;
                justify-content: center;"
                >
                  <a
                    href="https://notjusasalad.com/meals"
                    target="_blank"
                    class="meals-btn"
                  >
                    Order Meals
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
