.custorm-search-bar {
  width: 100% !important;
  border-radius: 0px !important;
}
.custorm-search-bar button {
  border: none;
  padding: 0px 15px;
  outline: none;
  background: #f7f7f7;
}
.custorm-search-bar input {
  border-radius: 0px !important;
}
